#foreach($operation in $serviceModel.operations)
#set($hasEndPointOverrides = false)
## todo: add support for request stream
#if($operation.result.shape.hasEventStreamMembers())
#set($constText = "")
#else
#set($constText = "const ")
#end
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/smithy/SmithyServiceOperationsSource.vm")
#end