#set($hasEndPointOverrides = false)
#foreach($operation in $serviceModel.operations)
#if($operation.request.shape.hasEventStreamMembers())
#set($constText = "")
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/smithy/SmithyJsonServiceEventStreamOperationsSource.vm")
#else
#if($operation.result.shape.hasEventStreamMembers())
#set($constText = "")
#else
#set($constText = "const ")
#end
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/smithy/SmithyServiceOperationsSource.vm")
#end
#end