#set($indent = "        ")
#if($operation.request.shape.hasEventStreamMembers())
${indent}streamReadySemaphore->ReleaseAll();
#end
#parse("/com/amazonaws/util/awsclientgenerator/velocity/cpp/smithy/SmithyUriRequestQueryParams.vm")
#if($metadata.hasEndpointDiscoveryTrait)
#if($operation.hasEndpointDiscoveryTrait)
#set($hasId=false)
#foreach($memberEntry in $operation.request.shape.members.entrySet())
#if($memberEntry.value.endpointDiscoveryId)
#set($hasId=true)
#break
#end
#end
#if($hasId)
${indent}Aws::String endpointKey{"${operation.name}."};
#foreach($memberEntry in $operation.request.shape.members.entrySet())
#if($memberEntry.value.endpointDiscoveryId)
${indent}endpointKey += "${memberEntry.key}:" + request.Get${memberEntry.key}() + ".";
#end
#end
#else
${indent}Aws::String endpointKey{"Shared"};
#end
${indent}${metadata.endpointOperationName}Request endpointRequest{};
#if($hasId)
${indent} endpointRequest.WithOperation("${operation.name}");
#end
#foreach($memberEntry in $operation.request.shape.members.entrySet())
#if($memberEntry.value.endpointDiscoveryId)
${indent}endpointRequest.AddIdentifiers("${memberEntry.key}", request.Get${memberEntry.key}());
#end
#end
${indent}this->OptionallyUpdateDescribeEndpointsCache(resolvedEndpoint, request.GetServiceRequestName(), endpointKey, endpointRequest, $operation.requireEndpointDiscovery);
#else
#if(!$hasEndPointOverrides)
${indent}AWS_UNREFERENCED_PARAM(resolvedEndpoint);
#end
#end
#else
#if(!$hasEndPointOverrides)
${indent}AWS_UNREFERENCED_PARAM(resolvedEndpoint);
#end
#end