#if($operation.result.shape.hasEventStreamMembers())
#set($constText = "")
#set($refText = "&")
#else
#set($constText = "const ")
#set($refText = "")
#end
void ${className}::${operation.name}Async(${constText}${operation.request.shape.name}& request, const ${operation.name}ResponseReceivedHandler& handler, const std::shared_ptr<const Aws::Client::AsyncCallerContext>& context) const
{
#if($operation.result.shape.hasEventStreamMembers())
  m_executor->Submit( [this, ${refText}request, handler, context]()
    {
      handler(this, request, ${operation.name}(request), context);
    } );
#else
  std::shared_ptr<${operation.request.shape.name}> pRequest = request.Clone();
  m_executor->Submit( [this, pRequest, handler, context]()
    {
      handler(this, *pRequest, ${operation.name}(*pRequest), context);
    } );
#end
}