#if($operation.result.shape.hasEventStreamMembers())
#set($constText = "")
#else
#set($constText = "const ")
#end
${operation.name}OutcomeCallable ${className}::${operation.name}Callable(${constText}${operation.request.shape.name}& request) const
{
#if($operation.result.shape.hasEventStreamMembers())
  AWS_MAKE_CALLABLE_STREAMING_OPERATION(${operation.name}, request, m_executor.get());
#else
  AWS_MAKE_CALLABLE_OPERATION(${operation.name}, request, m_executor.get());
#end
}
