#if($serviceModel.endpointRules)
#if(!$operation.hasEndpointDiscoveryTrait)
  ResolveEndpointOutcome endpointResolutionOutcome = m_endpointProvider->ResolveEndpoint(request.GetEndpointContextParams());
#else
  if (endpointResolutionOutcome.GetResult().GetURL().empty()) {
    endpointResolutionOutcome = m_endpointProvider->ResolveEndpoint(request.GetEndpointContextParams());
  }
#end
#if(!$operation.request.shape.hasEventStreamMembers() && !$operation.s3CrtSpecific)
  AWS_OPERATION_CHECK_SUCCESS(endpointResolutionOutcome, ${operation.name}, CoreErrors, CoreErrors::ENDPOINT_RESOLUTION_FAILURE, endpointResolutionOutcome.GetError().GetMessage());
#if($operation.hasEndpointTrait)## Note: EndpointDiscovery Trait is not Endpoint Trait
  auto addPrefixErr = endpointResolutionOutcome.GetResult().AddPrefixIfMissing(${operation.endpoint.constructHostPrefixString("request")});
  AWS_CHECK(SERVICE_NAME, !addPrefixErr, addPrefixErr->GetMessage(), ${operation.name}Outcome(addPrefixErr.value()));
#end
#else
  if (!endpointResolutionOutcome.IsSuccess()) {
    handler(this, request, ${operation.name}Outcome(Aws::Client::AWSError<CoreErrors>(
        CoreErrors::ENDPOINT_RESOLUTION_FAILURE, "ENDPOINT_RESOLUTION_FAILURE", endpointResolutionOutcome.GetError().GetMessage(), false)), handlerContext);
    return;
  }
#end
#end
#if($operation.http.requestUri.contains("?"))
  Aws::StringStream ss;
#end
#set($uriParts = $operation.http.requestUriParts)
#set($uriVars = $operation.http.requestParameters)
#if(!$startIndex)
#set($startIndex = 0)
#end
#set($partIndex = 1)
#set($queryStart = false)
#if($uriParts.size() > $startIndex)
#set($uriPartString = ${uriParts.get($startIndex)})
#if($uriPartString.contains("?"))## if (request uri contains query) ----------
#set($queryStart = true)
#set($pathAndQuery = $operation.http.splitUriPartIntoPathAndQuery($uriPartString))
#if(!$pathAndQuery.get(0).isEmpty())
#if($serviceModel.endpointRules)
  endpointResolutionOutcome.GetResult().AddPathSegments("${pathAndQuery.get(0)}");
#else
  uri.AddPathSegments("${pathAndQuery.get(0)}");
#end
#end
  ss.str("${pathAndQuery.get(1)}");
#elseif(!$uriPartString.equals("/"))
#if($serviceModel.endpointRules)
  endpointResolutionOutcome.GetResult().AddPathSegments("$uriPartString");
#else
  uri.AddPathSegments("$uriPartString");
#end
#end## ---------------------------- if (request uri contains query) end ------
#foreach($var in $uriVars)## for (parameter in request uri parameters) -------
#set($varIndex = $partIndex - 1)
#set($uriVar = $uriVars.get($varIndex).replace('+', ''))
#set($greedySyntax = $uriVars.get($varIndex).contains("+"))
#if(!$skipFirst)
#set($partShapeMember = $operation.request.shape.getMemberByLocationName($uriVar))
#if($partShapeMember.shape.enum)
#set($parameter = "${partShapeMember.shape.name}Mapper::GetNameFor${partShapeMember.shape.name}(request.Get${CppViewHelper.convertToUpperCamel($operation.request.shape.getMemberNameByLocationName($uriVar))}())")
#else
#set($parameter = "request.Get${CppViewHelper.convertToUpperCamel($operation.request.shape.getMemberNameByLocationName($uriVar))}()")
#end
#if($queryStart)
  ss << $parameter;
#else
#if($greedySyntax)
#if($serviceModel.endpointRules)
  endpointResolutionOutcome.GetResult().AddPathSegments($parameter);
#else
  uri.AddPathSegments($parameter);
#end
#else
#if($serviceModel.endpointRules)
  endpointResolutionOutcome.GetResult().AddPathSegment($parameter);
#else
  uri.AddPathSegment($parameter);
#end
#end
#end
#if($uriParts.size() > $partIndex)
#set($uriPartString = "${uriParts.get($partIndex)}")
#if(!$queryStart && $uriPartString.contains("?"))
#set($queryStart = true)
#set($pathAndQuery = $operation.http.splitUriPartIntoPathAndQuery($uriPartString))
#if(!$pathAndQuery.get(0).isEmpty())
#if($serviceModel.endpointRules)
  endpointResolutionOutcome.GetResult().AddPathSegments("${pathAndQuery.get(0)}");
#else
  uri.AddPathSegments("${pathAndQuery.get(0)}");
#end
#end
  ss.str("${pathAndQuery.get(1)}");
#elseif(!$uriPartString.equals("/"))
#if($serviceModel.endpointRules)
  endpointResolutionOutcome.GetResult().AddPathSegments("$uriPartString");
#else
  uri.AddPathSegments("$uriPartString");
#end
#end
#end
#end## --------------------- if !skipFirst end ---
#set($partIndex = $partIndex + 1)
#set($skipFirst = false)
#end## --------------------- if uriParts.size() > startIndex end ---
#end## --------------------- for (parameter in request uri parameters) end ---
#if($queryStart)
#if($serviceModel.endpointRules)
  endpointResolutionOutcome.GetResult().SetQueryString(ss.str());
#else
  uri.SetQueryString(ss.str());
#end
#end