#parse("com/amazonaws/util/awsclientgenerator/velocity/cfamily/Attribution.vm")
#set($serviceNs = $serviceModel.metadata.namespace)
#set($serviceClient = "${serviceModel.metadata.classNamePrefix}Client")
\#include <aws/core/utils/logging/LogMacros.h>
\#include <aws/testing/AwsProtocolTestHelpers.h>
\#include <aws/${serviceModel.metadata.projectName}/${serviceClient}.h>
#set($modelIncludes = {})
#foreach($case in $testSuite.cases)
#set($dummy = $modelIncludes.put("${testSuite.name}", "<aws/${serviceModel.metadata.projectName}/model/${testSuite.name}Request.h>"))
#end
#foreach($include in $modelIncludes)
\#include $include
#end

using $testSuite.name = AWS_PROTOCOL_TEST_SUITE;
using $serviceClient = Aws::$serviceNs::$serviceClient;
using namespace Aws::$serviceNs::Model;
#foreach($case in $testSuite.cases)

AWS_PROTOCOL_TEST($testSuite.name, $case.id) {
  $serviceClient client;
  ${testSuite.name}Request request;
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/protocoltests/request/FillRequest.vm")

  auto outcome = client.${testSuite.name}(request);
#if($case.input)
  AWS_ASSERT_SUCCESS(outcome);
#else
  ASSERT_FALSE(outcome.IsSuccess());
#end
}
#end
