{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-18",
        "endpointPrefix": "execute-api",
        "protocol": "json",
        "serviceFullName": "VitalServices"
    },
    "operations": {
        "getAppointmentsWithUser": {
            "name": "getAppointmentsWithUser",
            "http": {
                "method": "POST",
                "requestUri": "/prod/get-appointments-with-user",
                "responseCode": 200
            },
            "input": {
                "shape": "GetAppointmentsWithUserRequest"
            },
            "output": {
                "shape": "GetAppointmentsResult"
            }
        },
        "registerDoctor": {
            "name": "registerDoctor",
            "http": {
                "method": "POST",
                "requestUri": "/prod/register-doctor",
                "responseCode": 200
            },
            "input": {
                "shape": "RegisterDoctorRequest"
            },
            "output": {
                "shape": "ClientDoctor"
            }
        },
        "queryDoctorSchedule": {
            "name": "queryDoctorSchedule",
            "http": {
                "method": "POST",
                "requestUri": "/prod/query-doctor-schedule",
                "responseCode": 200
            },
            "input": {
                "shape": "QueryDoctorScheduleRequest"
            },
            "output": {
                "shape": "QueryDoctorScheduleResult"
            }
        },
        "getLoggedInUser": {
            "name": "getLoggedInUser",
            "http": {
                "method": "POST",
                "requestUri": "/prod/get-logged-in-user",
                "responseCode": 200
            },
            "input": {
                "shape": "VitalServicesRequest"
            },
            "output": {
                "shape": "GetLoggedInUserResult"
            }
        },
        "getAllDoctorServices": {
            "name": "getAllDoctorServices",
            "http": {
                "method": "POST",
                "requestUri": "/prod/get-all-doctor-services",
                "responseCode": 200
            },
            "input": {
                "shape": "GetAllDoctorServicesRequest"
            },
            "output": {
                "shape": "GetAllDoctorServicesResult"
            }
        },
        "setDefaultPaymentSource": {
            "name": "setDefaultPaymentSource",
            "http": {
                "method": "POST",
                "requestUri": "/prod/set-default-payment-source",
                "responseCode": 200
            },
            "input": {
                "shape": "SetDefaultPaymentSourceRequest"
            },
            "output": {
                "shape": "Empty"
            }
        },
        "updateUser": {
            "name": "updateUser",
            "http": {
                "method": "POST",
                "requestUri": "/prod/update-user",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateUserRequest"
            },
            "output": {
                "shape": "ClientUser"
            }
        },
        "scheduleAppointment": {
            "name": "scheduleAppointment",
            "http": {
                "method": "POST",
                "requestUri": "/prod/schedule-appointment",
                "responseCode": 200
            },
            "input": {
                "shape": "ScheduleAppointmentRequest"
            },
            "output": {
                "shape": "Empty"
            }
        },
        "registerUser": {
            "name": "registerUser",
            "http": {
                "method": "POST",
                "requestUri": "/prod/register-user",
                "responseCode": 200
            },
            "input": {
                "shape": "RegisterUserRequest"
            },
            "output": {
                "shape": "ClientUser"
            }
        },
        "getDoctors": {
            "name": "getDoctors",
            "http": {
                "method": "POST",
                "requestUri": "/prod/get-doctors",
                "responseCode": 200
            },
            "input": {
                "shape": "GetDoctorsRequest"
            },
            "output": {
                "shape": "GetDoctorsResult"
            }
        },
        "cancelAppointment": {
            "name": "cancelAppointment",
            "http": {
                "method": "POST",
                "requestUri": "/prod/cancel-appointment",
                "responseCode": 200
            },
            "input": {
                "shape": "CancelAppointmentRequest"
            },
            "output": {
                "shape": "CancelAppointmentResult"
            }
        },
        "getDoctorSpecialties": {
            "name": "getDoctorSpecialties",
            "http": {
                "method": "POST",
                "requestUri": "/prod/get-doctor-specialties",
                "responseCode": 200
            },
            "input": {
                "shape": "GetDoctorSpecialtiesRequest"
            },
            "output": {
                "shape": "GetDoctorSpecialtiesResult"
            }
        },
        "getStripeCustomer": {
            "name": "getStripeCustomer",
            "http": {
                "method": "POST",
                "requestUri": "/prod/get-stripe-customer",
                "responseCode": 200
            },
            "input": {
                "shape": "GetStripeCustomerRequest"
            },
            "output": {
                "shape": "StripeObject"
            }
        },
        "addCreditCard": {
            "name": "addCreditCard",
            "http": {
                "method": "POST",
                "requestUri": "/prod/add-credit-card",
                "responseCode": 200
            },
            "input": {
                "shape": "AddCreditCardRequest"
            },
            "output": {
                "shape": "Empty"
            }
        },
        "updateDoctor": {
            "name": "updateDoctor",
            "http": {
                "method": "POST",
                "requestUri": "/prod/update-doctor",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateDoctorRequest"
            },
            "output": {
                "shape": "ClientDoctor"
            }
        },
        "getAppointmentBill": {
            "name": "getAppointmentBill",
            "http": {
                "method": "POST",
                "requestUri": "/prod/get-appointment-bill",
                "responseCode": 200
            },
            "input": {
                "shape": "ScheduleAppointmentRequest"
            },
            "output": {
                "shape": "ClientAppointmentBill"
            }
        },
        "getAppointmentPaymentMethod": {
            "name": "getAppointmentPaymentMethod",
            "http": {
                "method": "POST",
                "requestUri": "/prod/get-appointment-payment-method",
                "responseCode": 200
            },
            "input": {
                "shape": "GetAppointmentPaymentMethodRequest"
            },
            "output": {
                "shape": "StripeObject"
            }
        },
        "urlForFile": {
            "name": "urlForFile",
            "http": {
                "method": "POST",
                "requestUri": "/prod/url-for-file",
                "responseCode": 200
            },
            "input": {
                "shape": "UrlForFileRequest"
            },
            "output": {
                "shape": "UrlForFileResult"
            }
        },
        "searchForDoctors": {
            "name": "searchForDoctors",
            "http": {
                "method": "POST",
                "requestUri": "/prod/search-for-doctors",
                "responseCode": 200
            },
            "input": {
                "shape": "SearchForDoctorsRequest"
            },
            "output": {
                "shape": "SearchForDoctorsResult"
            }
        }
    },
    "shapes": {
        "GetDoctorSpecialtiesResult_specialtiesItem_isCommon": {
            "type": "boolean"
        },
        "GetDoctorSpecialtiesResult_specialtiesItem_id": {
            "type": "string"
        },
        "GetDoctorSpecialtiesResult_specialtiesItem_name": {
            "type": "string"
        },
        "GetDoctorSpecialtiesResult_specialtiesItem": {
            "type": "structure",
            "required": [
                "id",
                "isCommon",
                "name"
            ],
            "members": {
                "isCommon": {
                    "shape": "GetDoctorSpecialtiesResult_specialtiesItem_isCommon"
                },
                "id": {
                    "shape": "GetDoctorSpecialtiesResult_specialtiesItem_id"
                },
                "name": {
                    "shape": "GetDoctorSpecialtiesResult_specialtiesItem_name"
                }
            }
        },
        "GetDoctorSpecialtiesResult_specialties": {
            "type": "list",
            "member": {
                "shape": "GetDoctorSpecialtiesResult_specialtiesItem"
            }
        },
        "GetDoctorSpecialtiesResult": {
            "type": "structure",
            "required": [],
            "members": {
                "specialties": {
                    "shape": "GetDoctorSpecialtiesResult_specialties"
                }
            }
        },
        "QueryDoctorScheduleResult_timeSlotsItem_appointmentId": {
            "type": "string"
        },
        "QueryDoctorScheduleResult_timeSlotsItem_timeSlot": {
            "type": "string"
        },
        "QueryDoctorScheduleResult_timeSlotsItem": {
            "type": "structure",
            "required": [
                "timeSlot"
            ],
            "members": {
                "appointmentId": {
                    "shape": "QueryDoctorScheduleResult_timeSlotsItem_appointmentId"
                },
                "timeSlot": {
                    "shape": "QueryDoctorScheduleResult_timeSlotsItem_timeSlot"
                }
            }
        },
        "QueryDoctorScheduleResult_timeSlots": {
            "type": "list",
            "member": {
                "shape": "QueryDoctorScheduleResult_timeSlotsItem"
            }
        },
        "QueryDoctorScheduleResult": {
            "type": "structure",
            "required": [],
            "members": {
                "timeSlots": {
                    "shape": "QueryDoctorScheduleResult_timeSlots"
                }
            }
        },
        "Empty": {
            "type": "structure",
            "required": [],
            "members": {}
        },
        "ClientDoctor_longitude": {
            "type": "double"
        },
        "ClientDoctor_officeNumber": {
            "type": "string"
        },
        "ClientDoctor_suite": {
            "type": "string"
        },
        "ClientDoctor_city": {
            "type": "string"
        },
        "ClientDoctor_firstName": {
            "type": "string"
        },
        "ClientDoctor_postalCode": {
            "type": "string"
        },
        "ClientDoctor_lastName": {
            "type": "string"
        },
        "ClientDoctor_serviceDetailsListItem_durationSeconds": {
            "type": "double"
        },
        "ClientDoctor_serviceDetailsListItem_serviceId": {
            "type": "string"
        },
        "ClientDoctor_serviceDetailsListItem_priceDollars": {
            "type": "string"
        },
        "ClientDoctor_serviceDetailsListItem_doctorId": {
            "type": "string"
        },
        "ClientDoctor_serviceDetailsListItem": {
            "type": "structure",
            "required": [
                "doctorId",
                "durationSeconds",
                "priceDollars",
                "serviceId"
            ],
            "members": {
                "durationSeconds": {
                    "shape": "ClientDoctor_serviceDetailsListItem_durationSeconds"
                },
                "serviceId": {
                    "shape": "ClientDoctor_serviceDetailsListItem_serviceId"
                },
                "priceDollars": {
                    "shape": "ClientDoctor_serviceDetailsListItem_priceDollars"
                },
                "doctorId": {
                    "shape": "ClientDoctor_serviceDetailsListItem_doctorId"
                }
            }
        },
        "ClientDoctor_serviceDetailsList": {
            "type": "list",
            "member": {
                "shape": "ClientDoctor_serviceDetailsListItem"
            }
        },
        "ClientDoctor_profilePhotoUrl": {
            "type": "string"
        },
        "ClientDoctor_coverPhotoUrl": {
            "type": "string"
        },
        "ClientDoctor_servicesOfferedItem": {
            "type": "string"
        },
        "ClientDoctor_servicesOffered": {
            "type": "list",
            "member": {
                "shape": "ClientDoctor_servicesOfferedItem"
            }
        },
        "ClientDoctor_latitude": {
            "type": "double"
        },
        "ClientDoctor_id": {
            "type": "string"
        },
        "ClientDoctor_payoutInfoIsSet": {
            "type": "boolean"
        },
        "ClientDoctor_administrativeAreaL1": {
            "type": "string"
        },
        "ClientDoctor_specialtyId": {
            "type": "string"
        },
        "ClientDoctor_streetNumberAndName": {
            "type": "string"
        },
        "ClientDoctor": {
            "type": "structure",
            "required": [
                "firstName",
                "id",
                "lastName",
                "payoutInfoIsSet",
                "servicesOffered",
                "specialtyId"
            ],
            "members": {
                "longitude": {
                    "shape": "ClientDoctor_longitude"
                },
                "officeNumber": {
                    "shape": "ClientDoctor_officeNumber"
                },
                "suite": {
                    "shape": "ClientDoctor_suite"
                },
                "city": {
                    "shape": "ClientDoctor_city"
                },
                "firstName": {
                    "shape": "ClientDoctor_firstName"
                },
                "postalCode": {
                    "shape": "ClientDoctor_postalCode"
                },
                "lastName": {
                    "shape": "ClientDoctor_lastName"
                },
                "serviceDetailsList": {
                    "shape": "ClientDoctor_serviceDetailsList"
                },
                "profilePhotoUrl": {
                    "shape": "ClientDoctor_profilePhotoUrl"
                },
                "coverPhotoUrl": {
                    "shape": "ClientDoctor_coverPhotoUrl"
                },
                "servicesOffered": {
                    "shape": "ClientDoctor_servicesOffered"
                },
                "latitude": {
                    "shape": "ClientDoctor_latitude"
                },
                "id": {
                    "shape": "ClientDoctor_id"
                },
                "payoutInfoIsSet": {
                    "shape": "ClientDoctor_payoutInfoIsSet"
                },
                "administrativeAreaL1": {
                    "shape": "ClientDoctor_administrativeAreaL1"
                },
                "specialtyId": {
                    "shape": "ClientDoctor_specialtyId"
                },
                "streetNumberAndName": {
                    "shape": "ClientDoctor_streetNumberAndName"
                }
            }
        },
        "SearchForDoctorsResult_doctorsItem_longitude": {
            "type": "double"
        },
        "SearchForDoctorsResult_doctorsItem_officeNumber": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_suite": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_city": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_firstName": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_postalCode": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_lastName": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_serviceDetailsListItem_durationSeconds": {
            "type": "double"
        },
        "SearchForDoctorsResult_doctorsItem_serviceDetailsListItem_serviceId": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_serviceDetailsListItem_priceDollars": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_serviceDetailsListItem_doctorId": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_serviceDetailsListItem": {
            "type": "structure",
            "required": [
                "doctorId",
                "durationSeconds",
                "priceDollars",
                "serviceId"
            ],
            "members": {
                "durationSeconds": {
                    "shape": "SearchForDoctorsResult_doctorsItem_serviceDetailsListItem_durationSeconds"
                },
                "serviceId": {
                    "shape": "SearchForDoctorsResult_doctorsItem_serviceDetailsListItem_serviceId"
                },
                "priceDollars": {
                    "shape": "SearchForDoctorsResult_doctorsItem_serviceDetailsListItem_priceDollars"
                },
                "doctorId": {
                    "shape": "SearchForDoctorsResult_doctorsItem_serviceDetailsListItem_doctorId"
                }
            }
        },
        "SearchForDoctorsResult_doctorsItem_serviceDetailsList": {
            "type": "list",
            "member": {
                "shape": "SearchForDoctorsResult_doctorsItem_serviceDetailsListItem"
            }
        },
        "SearchForDoctorsResult_doctorsItem_profilePhotoUrl": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_coverPhotoUrl": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_servicesOfferedItem": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_servicesOffered": {
            "type": "list",
            "member": {
                "shape": "SearchForDoctorsResult_doctorsItem_servicesOfferedItem"
            }
        },
        "SearchForDoctorsResult_doctorsItem_latitude": {
            "type": "double"
        },
        "SearchForDoctorsResult_doctorsItem_id": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_payoutInfoIsSet": {
            "type": "boolean"
        },
        "SearchForDoctorsResult_doctorsItem_administrativeAreaL1": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_specialtyId": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem_streetNumberAndName": {
            "type": "string"
        },
        "SearchForDoctorsResult_doctorsItem": {
            "type": "structure",
            "required": [
                "firstName",
                "id",
                "lastName",
                "payoutInfoIsSet",
                "servicesOffered",
                "specialtyId"
            ],
            "members": {
                "longitude": {
                    "shape": "SearchForDoctorsResult_doctorsItem_longitude"
                },
                "officeNumber": {
                    "shape": "SearchForDoctorsResult_doctorsItem_officeNumber"
                },
                "suite": {
                    "shape": "SearchForDoctorsResult_doctorsItem_suite"
                },
                "city": {
                    "shape": "SearchForDoctorsResult_doctorsItem_city"
                },
                "firstName": {
                    "shape": "SearchForDoctorsResult_doctorsItem_firstName"
                },
                "postalCode": {
                    "shape": "SearchForDoctorsResult_doctorsItem_postalCode"
                },
                "lastName": {
                    "shape": "SearchForDoctorsResult_doctorsItem_lastName"
                },
                "serviceDetailsList": {
                    "shape": "SearchForDoctorsResult_doctorsItem_serviceDetailsList"
                },
                "profilePhotoUrl": {
                    "shape": "SearchForDoctorsResult_doctorsItem_profilePhotoUrl"
                },
                "coverPhotoUrl": {
                    "shape": "SearchForDoctorsResult_doctorsItem_coverPhotoUrl"
                },
                "servicesOffered": {
                    "shape": "SearchForDoctorsResult_doctorsItem_servicesOffered"
                },
                "latitude": {
                    "shape": "SearchForDoctorsResult_doctorsItem_latitude"
                },
                "id": {
                    "shape": "SearchForDoctorsResult_doctorsItem_id"
                },
                "payoutInfoIsSet": {
                    "shape": "SearchForDoctorsResult_doctorsItem_payoutInfoIsSet"
                },
                "administrativeAreaL1": {
                    "shape": "SearchForDoctorsResult_doctorsItem_administrativeAreaL1"
                },
                "specialtyId": {
                    "shape": "SearchForDoctorsResult_doctorsItem_specialtyId"
                },
                "streetNumberAndName": {
                    "shape": "SearchForDoctorsResult_doctorsItem_streetNumberAndName"
                }
            }
        },
        "SearchForDoctorsResult_doctors": {
            "type": "list",
            "member": {
                "shape": "SearchForDoctorsResult_doctorsItem"
            }
        },
        "SearchForDoctorsResult": {
            "type": "structure",
            "required": [],
            "members": {
                "doctors": {
                    "shape": "SearchForDoctorsResult_doctors"
                }
            }
        },
        "CancelAppointmentRequest_appointmentId": {
            "type": "string"
        },
        "CancelAppointmentRequest_lateCancellation": {
            "type": "boolean"
        },
        "CancelAppointmentRequest": {
            "type": "structure",
            "required": [
                "appointmentId",
                "lateCancellation"
            ],
            "members": {
                "appointmentId": {
                    "shape": "CancelAppointmentRequest_appointmentId"
                },
                "lateCancellation": {
                    "shape": "CancelAppointmentRequest_lateCancellation"
                }
            }
        },
        "ClientDoctorService_id": {
            "type": "string"
        },
        "ClientDoctorService_name": {
            "type": "string"
        },
        "ClientDoctorService_indefiniteArticle": {
            "type": "string"
        },
        "ClientDoctorService_additionalDescription": {
            "type": "string"
        },
        "ClientDoctorService": {
            "type": "structure",
            "required": [
                "additionalDescription",
                "id",
                "indefiniteArticle",
                "name"
            ],
            "members": {
                "id": {
                    "shape": "ClientDoctorService_id"
                },
                "name": {
                    "shape": "ClientDoctorService_name"
                },
                "indefiniteArticle": {
                    "shape": "ClientDoctorService_indefiniteArticle"
                },
                "additionalDescription": {
                    "shape": "ClientDoctorService_additionalDescription"
                }
            }
        },
        "RegisterUserRequest_email": {
            "type": "string"
        },
        "RegisterUserRequest_mobileNumber": {
            "type": "string"
        },
        "RegisterUserRequest_firstName": {
            "type": "string"
        },
        "RegisterUserRequest_lastName": {
            "type": "string"
        },
        "RegisterUserRequest": {
            "type": "structure",
            "required": [
                "email",
                "firstName",
                "lastName",
                "mobileNumber"
            ],
            "members": {
                "email": {
                    "shape": "RegisterUserRequest_email"
                },
                "mobileNumber": {
                    "shape": "RegisterUserRequest_mobileNumber"
                },
                "firstName": {
                    "shape": "RegisterUserRequest_firstName"
                },
                "lastName": {
                    "shape": "RegisterUserRequest_lastName"
                }
            }
        },
        "UpdateDoctorRequest_officeNumber": {
            "type": "string"
        },
        "UpdateDoctorRequest_doctorId": {
            "type": "string"
        },
        "UpdateDoctorRequest": {
            "type": "structure",
            "required": [
                "doctorId"
            ],
            "members": {
                "officeNumber": {
                    "shape": "UpdateDoctorRequest_officeNumber"
                },
                "doctorId": {
                    "shape": "UpdateDoctorRequest_doctorId"
                }
            }
        },
        "StripeObject_jsonString": {
            "type": "string"
        },
        "StripeObject": {
            "type": "structure",
            "required": [],
            "members": {
                "jsonString": {
                    "shape": "StripeObject_jsonString"
                }
            }
        },
        "UrlForFileResult_url": {
            "type": "string"
        },
        "UrlForFileResult": {
            "type": "structure",
            "required": [],
            "members": {
                "url": {
                    "shape": "UrlForFileResult_url"
                }
            }
        },
        "GetAppointmentsWithUserRequest_getDoctors": {
            "type": "boolean"
        },
        "GetAppointmentsWithUserRequest_getPatients": {
            "type": "boolean"
        },
        "GetAppointmentsWithUserRequest_userId": {
            "type": "string"
        },
        "GetAppointmentsWithUserRequest": {
            "type": "structure",
            "required": [
                "getDoctors",
                "getPatients",
                "userId"
            ],
            "members": {
                "getDoctors": {
                    "shape": "GetAppointmentsWithUserRequest_getDoctors"
                },
                "getPatients": {
                    "shape": "GetAppointmentsWithUserRequest_getPatients"
                },
                "userId": {
                    "shape": "GetAppointmentsWithUserRequest_userId"
                }
            }
        },
        "SetDefaultPaymentSourceRequest_paymentMethodId": {
            "type": "string"
        },
        "SetDefaultPaymentSourceRequest": {
            "type": "structure",
            "required": [],
            "members": {
                "paymentMethodId": {
                    "shape": "SetDefaultPaymentSourceRequest_paymentMethodId"
                }
            }
        },
        "UpdateUserRequest_email": {
            "type": "string"
        },
        "UpdateUserRequest_mobileNumber": {
            "type": "string"
        },
        "UpdateUserRequest": {
            "type": "structure",
            "required": [],
            "members": {
                "email": {
                    "shape": "UpdateUserRequest_email"
                },
                "mobileNumber": {
                    "shape": "UpdateUserRequest_mobileNumber"
                }
            }
        },
        "ClientDoctorServiceDetails_durationSeconds": {
            "type": "double"
        },
        "ClientDoctorServiceDetails_serviceId": {
            "type": "string"
        },
        "ClientDoctorServiceDetails_priceDollars": {
            "type": "string"
        },
        "ClientDoctorServiceDetails_doctorId": {
            "type": "string"
        },
        "ClientDoctorServiceDetails": {
            "type": "structure",
            "required": [
                "doctorId",
                "durationSeconds",
                "priceDollars",
                "serviceId"
            ],
            "members": {
                "durationSeconds": {
                    "shape": "ClientDoctorServiceDetails_durationSeconds"
                },
                "serviceId": {
                    "shape": "ClientDoctorServiceDetails_serviceId"
                },
                "priceDollars": {
                    "shape": "ClientDoctorServiceDetails_priceDollars"
                },
                "doctorId": {
                    "shape": "ClientDoctorServiceDetails_doctorId"
                }
            }
        },
        "GetAllDoctorServicesRequest_dummy": {
            "type": "string"
        },
        "GetAllDoctorServicesRequest": {
            "type": "structure",
            "required": [],
            "members": {
                "dummy": {
                    "shape": "GetAllDoctorServicesRequest_dummy"
                }
            }
        },
        "ClientPatient_profilePhotoUrl": {
            "type": "string"
        },
        "ClientPatient_id": {
            "type": "string"
        },
        "ClientPatient_mobileNumber": {
            "type": "string"
        },
        "ClientPatient_firstName": {
            "type": "string"
        },
        "ClientPatient_lastName": {
            "type": "string"
        },
        "ClientPatient": {
            "type": "structure",
            "required": [
                "firstName",
                "id",
                "lastName",
                "mobileNumber"
            ],
            "members": {
                "profilePhotoUrl": {
                    "shape": "ClientPatient_profilePhotoUrl"
                },
                "id": {
                    "shape": "ClientPatient_id"
                },
                "mobileNumber": {
                    "shape": "ClientPatient_mobileNumber"
                },
                "firstName": {
                    "shape": "ClientPatient_firstName"
                },
                "lastName": {
                    "shape": "ClientPatient_lastName"
                }
            }
        },
        "QueryDoctorScheduleRequest_firstTime": {
            "type": "string"
        },
        "QueryDoctorScheduleRequest_lastTime": {
            "type": "string"
        },
        "QueryDoctorScheduleRequest_doctorId": {
            "type": "string"
        },
        "QueryDoctorScheduleRequest": {
            "type": "structure",
            "required": [],
            "members": {
                "firstTime": {
                    "shape": "QueryDoctorScheduleRequest_firstTime"
                },
                "lastTime": {
                    "shape": "QueryDoctorScheduleRequest_lastTime"
                },
                "doctorId": {
                    "shape": "QueryDoctorScheduleRequest_doctorId"
                }
            }
        },
        "SearchForDoctorsRequest_firstTime": {
            "type": "string"
        },
        "SearchForDoctorsRequest_serviceId": {
            "type": "string"
        },
        "SearchForDoctorsRequest_lastTime": {
            "type": "string"
        },
        "SearchForDoctorsRequest_latitude": {
            "type": "double"
        },
        "SearchForDoctorsRequest_longitude": {
            "type": "double"
        },
        "SearchForDoctorsRequest_specialtyId": {
            "type": "string"
        },
        "SearchForDoctorsRequest": {
            "type": "structure",
            "required": [
                "firstTime",
                "lastTime",
                "latitude",
                "longitude",
                "serviceId",
                "specialtyId"
            ],
            "members": {
                "firstTime": {
                    "shape": "SearchForDoctorsRequest_firstTime"
                },
                "serviceId": {
                    "shape": "SearchForDoctorsRequest_serviceId"
                },
                "lastTime": {
                    "shape": "SearchForDoctorsRequest_lastTime"
                },
                "latitude": {
                    "shape": "SearchForDoctorsRequest_latitude"
                },
                "longitude": {
                    "shape": "SearchForDoctorsRequest_longitude"
                },
                "specialtyId": {
                    "shape": "SearchForDoctorsRequest_specialtyId"
                }
            }
        },
        "GetAppointmentPaymentMethodRequest_appointmentId": {
            "type": "string"
        },
        "GetAppointmentPaymentMethodRequest": {
            "type": "structure",
            "required": [],
            "members": {
                "appointmentId": {
                    "shape": "GetAppointmentPaymentMethodRequest_appointmentId"
                }
            }
        },
        "GetAllDoctorServicesResult_servicesItem_id": {
            "type": "string"
        },
        "GetAllDoctorServicesResult_servicesItem_name": {
            "type": "string"
        },
        "GetAllDoctorServicesResult_servicesItem_indefiniteArticle": {
            "type": "string"
        },
        "GetAllDoctorServicesResult_servicesItem_additionalDescription": {
            "type": "string"
        },
        "GetAllDoctorServicesResult_servicesItem": {
            "type": "structure",
            "required": [
                "additionalDescription",
                "id",
                "indefiniteArticle",
                "name"
            ],
            "members": {
                "id": {
                    "shape": "GetAllDoctorServicesResult_servicesItem_id"
                },
                "name": {
                    "shape": "GetAllDoctorServicesResult_servicesItem_name"
                },
                "indefiniteArticle": {
                    "shape": "GetAllDoctorServicesResult_servicesItem_indefiniteArticle"
                },
                "additionalDescription": {
                    "shape": "GetAllDoctorServicesResult_servicesItem_additionalDescription"
                }
            }
        },
        "GetAllDoctorServicesResult_services": {
            "type": "list",
            "member": {
                "shape": "GetAllDoctorServicesResult_servicesItem"
            }
        },
        "GetAllDoctorServicesResult": {
            "type": "structure",
            "required": [],
            "members": {
                "services": {
                    "shape": "GetAllDoctorServicesResult_services"
                }
            }
        },
        "GetDoctorSpecialtiesRequest_dummy": {
            "type": "string"
        },
        "GetDoctorSpecialtiesRequest": {
            "type": "structure",
            "required": [],
            "members": {
                "dummy": {
                    "shape": "GetDoctorSpecialtiesRequest_dummy"
                }
            }
        },
        "ClientAppointmentBill_basePriceCents": {
            "type": "string"
        },
        "ClientAppointmentBill_doctorServiceFeeCents": {
            "type": "string"
        },
        "ClientAppointmentBill_totalPriceCents": {
            "type": "string"
        },
        "ClientAppointmentBill_patientServiceFeeCents": {
            "type": "string"
        },
        "ClientAppointmentBill_fingerprint": {
            "type": "string"
        },
        "ClientAppointmentBill": {
            "type": "structure",
            "required": [
                "fingerprint"
            ],
            "members": {
                "basePriceCents": {
                    "shape": "ClientAppointmentBill_basePriceCents"
                },
                "doctorServiceFeeCents": {
                    "shape": "ClientAppointmentBill_doctorServiceFeeCents"
                },
                "totalPriceCents": {
                    "shape": "ClientAppointmentBill_totalPriceCents"
                },
                "patientServiceFeeCents": {
                    "shape": "ClientAppointmentBill_patientServiceFeeCents"
                },
                "fingerprint": {
                    "shape": "ClientAppointmentBill_fingerprint"
                }
            }
        },
        "GetAppointmentsResult_patientsItem_profilePhotoUrl": {
            "type": "string"
        },
        "GetAppointmentsResult_patientsItem_id": {
            "type": "string"
        },
        "GetAppointmentsResult_patientsItem_mobileNumber": {
            "type": "string"
        },
        "GetAppointmentsResult_patientsItem_firstName": {
            "type": "string"
        },
        "GetAppointmentsResult_patientsItem_lastName": {
            "type": "string"
        },
        "GetAppointmentsResult_patientsItem": {
            "type": "structure",
            "required": [
                "firstName",
                "id",
                "lastName",
                "mobileNumber"
            ],
            "members": {
                "profilePhotoUrl": {
                    "shape": "GetAppointmentsResult_patientsItem_profilePhotoUrl"
                },
                "id": {
                    "shape": "GetAppointmentsResult_patientsItem_id"
                },
                "mobileNumber": {
                    "shape": "GetAppointmentsResult_patientsItem_mobileNumber"
                },
                "firstName": {
                    "shape": "GetAppointmentsResult_patientsItem_firstName"
                },
                "lastName": {
                    "shape": "GetAppointmentsResult_patientsItem_lastName"
                }
            }
        },
        "GetAppointmentsResult_patients": {
            "type": "list",
            "member": {
                "shape": "GetAppointmentsResult_patientsItem"
            }
        },
        "GetAppointmentsResult_appointmentsItem_basePriceCents": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_chargeId": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_id": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_serviceId": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_reimbursementDate": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_cancellationDate": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_doctorId": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_appointmentState": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_dateBooked": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_totalPriceCents": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_startTime": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_amountRefundedCents": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_patientId": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_doctorServiceFeeCents": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_patientServiceFeeCents": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_durationSeconds": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem_doctorEarningsCents": {
            "type": "string"
        },
        "GetAppointmentsResult_appointmentsItem": {
            "type": "structure",
            "required": [
                "appointmentState",
                "chargeId",
                "dateBooked",
                "doctorId",
                "durationSeconds",
                "id",
                "patientId",
                "serviceId",
                "startTime"
            ],
            "members": {
                "basePriceCents": {
                    "shape": "GetAppointmentsResult_appointmentsItem_basePriceCents"
                },
                "chargeId": {
                    "shape": "GetAppointmentsResult_appointmentsItem_chargeId"
                },
                "id": {
                    "shape": "GetAppointmentsResult_appointmentsItem_id"
                },
                "serviceId": {
                    "shape": "GetAppointmentsResult_appointmentsItem_serviceId"
                },
                "reimbursementDate": {
                    "shape": "GetAppointmentsResult_appointmentsItem_reimbursementDate"
                },
                "cancellationDate": {
                    "shape": "GetAppointmentsResult_appointmentsItem_cancellationDate"
                },
                "doctorId": {
                    "shape": "GetAppointmentsResult_appointmentsItem_doctorId"
                },
                "appointmentState": {
                    "shape": "GetAppointmentsResult_appointmentsItem_appointmentState"
                },
                "dateBooked": {
                    "shape": "GetAppointmentsResult_appointmentsItem_dateBooked"
                },
                "totalPriceCents": {
                    "shape": "GetAppointmentsResult_appointmentsItem_totalPriceCents"
                },
                "startTime": {
                    "shape": "GetAppointmentsResult_appointmentsItem_startTime"
                },
                "amountRefundedCents": {
                    "shape": "GetAppointmentsResult_appointmentsItem_amountRefundedCents"
                },
                "patientId": {
                    "shape": "GetAppointmentsResult_appointmentsItem_patientId"
                },
                "doctorServiceFeeCents": {
                    "shape": "GetAppointmentsResult_appointmentsItem_doctorServiceFeeCents"
                },
                "patientServiceFeeCents": {
                    "shape": "GetAppointmentsResult_appointmentsItem_patientServiceFeeCents"
                },
                "durationSeconds": {
                    "shape": "GetAppointmentsResult_appointmentsItem_durationSeconds"
                },
                "doctorEarningsCents": {
                    "shape": "GetAppointmentsResult_appointmentsItem_doctorEarningsCents"
                }
            }
        },
        "GetAppointmentsResult_appointments": {
            "type": "list",
            "member": {
                "shape": "GetAppointmentsResult_appointmentsItem"
            }
        },
        "GetAppointmentsResult_doctorsItem_longitude": {
            "type": "double"
        },
        "GetAppointmentsResult_doctorsItem_officeNumber": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_suite": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_city": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_firstName": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_postalCode": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_lastName": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_serviceDetailsListItem_durationSeconds": {
            "type": "double"
        },
        "GetAppointmentsResult_doctorsItem_serviceDetailsListItem_serviceId": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_serviceDetailsListItem_priceDollars": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_serviceDetailsListItem_doctorId": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_serviceDetailsListItem": {
            "type": "structure",
            "required": [
                "doctorId",
                "durationSeconds",
                "priceDollars",
                "serviceId"
            ],
            "members": {
                "durationSeconds": {
                    "shape": "GetAppointmentsResult_doctorsItem_serviceDetailsListItem_durationSeconds"
                },
                "serviceId": {
                    "shape": "GetAppointmentsResult_doctorsItem_serviceDetailsListItem_serviceId"
                },
                "priceDollars": {
                    "shape": "GetAppointmentsResult_doctorsItem_serviceDetailsListItem_priceDollars"
                },
                "doctorId": {
                    "shape": "GetAppointmentsResult_doctorsItem_serviceDetailsListItem_doctorId"
                }
            }
        },
        "GetAppointmentsResult_doctorsItem_serviceDetailsList": {
            "type": "list",
            "member": {
                "shape": "GetAppointmentsResult_doctorsItem_serviceDetailsListItem"
            }
        },
        "GetAppointmentsResult_doctorsItem_profilePhotoUrl": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_coverPhotoUrl": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_servicesOfferedItem": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_servicesOffered": {
            "type": "list",
            "member": {
                "shape": "GetAppointmentsResult_doctorsItem_servicesOfferedItem"
            }
        },
        "GetAppointmentsResult_doctorsItem_latitude": {
            "type": "double"
        },
        "GetAppointmentsResult_doctorsItem_id": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_payoutInfoIsSet": {
            "type": "boolean"
        },
        "GetAppointmentsResult_doctorsItem_administrativeAreaL1": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_specialtyId": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem_streetNumberAndName": {
            "type": "string"
        },
        "GetAppointmentsResult_doctorsItem": {
            "type": "structure",
            "required": [
                "firstName",
                "id",
                "lastName",
                "payoutInfoIsSet",
                "servicesOffered",
                "specialtyId"
            ],
            "members": {
                "longitude": {
                    "shape": "GetAppointmentsResult_doctorsItem_longitude"
                },
                "officeNumber": {
                    "shape": "GetAppointmentsResult_doctorsItem_officeNumber"
                },
                "suite": {
                    "shape": "GetAppointmentsResult_doctorsItem_suite"
                },
                "city": {
                    "shape": "GetAppointmentsResult_doctorsItem_city"
                },
                "firstName": {
                    "shape": "GetAppointmentsResult_doctorsItem_firstName"
                },
                "postalCode": {
                    "shape": "GetAppointmentsResult_doctorsItem_postalCode"
                },
                "lastName": {
                    "shape": "GetAppointmentsResult_doctorsItem_lastName"
                },
                "serviceDetailsList": {
                    "shape": "GetAppointmentsResult_doctorsItem_serviceDetailsList"
                },
                "profilePhotoUrl": {
                    "shape": "GetAppointmentsResult_doctorsItem_profilePhotoUrl"
                },
                "coverPhotoUrl": {
                    "shape": "GetAppointmentsResult_doctorsItem_coverPhotoUrl"
                },
                "servicesOffered": {
                    "shape": "GetAppointmentsResult_doctorsItem_servicesOffered"
                },
                "latitude": {
                    "shape": "GetAppointmentsResult_doctorsItem_latitude"
                },
                "id": {
                    "shape": "GetAppointmentsResult_doctorsItem_id"
                },
                "payoutInfoIsSet": {
                    "shape": "GetAppointmentsResult_doctorsItem_payoutInfoIsSet"
                },
                "administrativeAreaL1": {
                    "shape": "GetAppointmentsResult_doctorsItem_administrativeAreaL1"
                },
                "specialtyId": {
                    "shape": "GetAppointmentsResult_doctorsItem_specialtyId"
                },
                "streetNumberAndName": {
                    "shape": "GetAppointmentsResult_doctorsItem_streetNumberAndName"
                }
            }
        },
        "GetAppointmentsResult_doctors": {
            "type": "list",
            "member": {
                "shape": "GetAppointmentsResult_doctorsItem"
            }
        },
        "GetAppointmentsResult": {
            "type": "structure",
            "required": [
                "appointments"
            ],
            "members": {
                "patients": {
                    "shape": "GetAppointmentsResult_patients"
                },
                "appointments": {
                    "shape": "GetAppointmentsResult_appointments"
                },
                "doctors": {
                    "shape": "GetAppointmentsResult_doctors"
                }
            }
        },
        "ClientAppointment_basePriceCents": {
            "type": "string"
        },
        "ClientAppointment_chargeId": {
            "type": "string"
        },
        "ClientAppointment_id": {
            "type": "string"
        },
        "ClientAppointment_serviceId": {
            "type": "string"
        },
        "ClientAppointment_reimbursementDate": {
            "type": "string"
        },
        "ClientAppointment_cancellationDate": {
            "type": "string"
        },
        "ClientAppointment_doctorId": {
            "type": "string"
        },
        "ClientAppointment_appointmentState": {
            "type": "string"
        },
        "ClientAppointment_dateBooked": {
            "type": "string"
        },
        "ClientAppointment_totalPriceCents": {
            "type": "string"
        },
        "ClientAppointment_startTime": {
            "type": "string"
        },
        "ClientAppointment_amountRefundedCents": {
            "type": "string"
        },
        "ClientAppointment_patientId": {
            "type": "string"
        },
        "ClientAppointment_doctorServiceFeeCents": {
            "type": "string"
        },
        "ClientAppointment_patientServiceFeeCents": {
            "type": "string"
        },
        "ClientAppointment_durationSeconds": {
            "type": "string"
        },
        "ClientAppointment_doctorEarningsCents": {
            "type": "string"
        },
        "ClientAppointment": {
            "type": "structure",
            "required": [
                "appointmentState",
                "chargeId",
                "dateBooked",
                "doctorId",
                "durationSeconds",
                "id",
                "patientId",
                "serviceId",
                "startTime"
            ],
            "members": {
                "basePriceCents": {
                    "shape": "ClientAppointment_basePriceCents"
                },
                "chargeId": {
                    "shape": "ClientAppointment_chargeId"
                },
                "id": {
                    "shape": "ClientAppointment_id"
                },
                "serviceId": {
                    "shape": "ClientAppointment_serviceId"
                },
                "reimbursementDate": {
                    "shape": "ClientAppointment_reimbursementDate"
                },
                "cancellationDate": {
                    "shape": "ClientAppointment_cancellationDate"
                },
                "doctorId": {
                    "shape": "ClientAppointment_doctorId"
                },
                "appointmentState": {
                    "shape": "ClientAppointment_appointmentState"
                },
                "dateBooked": {
                    "shape": "ClientAppointment_dateBooked"
                },
                "totalPriceCents": {
                    "shape": "ClientAppointment_totalPriceCents"
                },
                "startTime": {
                    "shape": "ClientAppointment_startTime"
                },
                "amountRefundedCents": {
                    "shape": "ClientAppointment_amountRefundedCents"
                },
                "patientId": {
                    "shape": "ClientAppointment_patientId"
                },
                "doctorServiceFeeCents": {
                    "shape": "ClientAppointment_doctorServiceFeeCents"
                },
                "patientServiceFeeCents": {
                    "shape": "ClientAppointment_patientServiceFeeCents"
                },
                "durationSeconds": {
                    "shape": "ClientAppointment_durationSeconds"
                },
                "doctorEarningsCents": {
                    "shape": "ClientAppointment_doctorEarningsCents"
                }
            }
        },
        "GetDoctorsResult_doctorsItem_longitude": {
            "type": "double"
        },
        "GetDoctorsResult_doctorsItem_officeNumber": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_suite": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_city": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_firstName": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_postalCode": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_lastName": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_serviceDetailsListItem_durationSeconds": {
            "type": "double"
        },
        "GetDoctorsResult_doctorsItem_serviceDetailsListItem_serviceId": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_serviceDetailsListItem_priceDollars": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_serviceDetailsListItem_doctorId": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_serviceDetailsListItem": {
            "type": "structure",
            "required": [
                "doctorId",
                "durationSeconds",
                "priceDollars",
                "serviceId"
            ],
            "members": {
                "durationSeconds": {
                    "shape": "GetDoctorsResult_doctorsItem_serviceDetailsListItem_durationSeconds"
                },
                "serviceId": {
                    "shape": "GetDoctorsResult_doctorsItem_serviceDetailsListItem_serviceId"
                },
                "priceDollars": {
                    "shape": "GetDoctorsResult_doctorsItem_serviceDetailsListItem_priceDollars"
                },
                "doctorId": {
                    "shape": "GetDoctorsResult_doctorsItem_serviceDetailsListItem_doctorId"
                }
            }
        },
        "GetDoctorsResult_doctorsItem_serviceDetailsList": {
            "type": "list",
            "member": {
                "shape": "GetDoctorsResult_doctorsItem_serviceDetailsListItem"
            }
        },
        "GetDoctorsResult_doctorsItem_profilePhotoUrl": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_coverPhotoUrl": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_servicesOfferedItem": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_servicesOffered": {
            "type": "list",
            "member": {
                "shape": "GetDoctorsResult_doctorsItem_servicesOfferedItem"
            }
        },
        "GetDoctorsResult_doctorsItem_latitude": {
            "type": "double"
        },
        "GetDoctorsResult_doctorsItem_id": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_payoutInfoIsSet": {
            "type": "boolean"
        },
        "GetDoctorsResult_doctorsItem_administrativeAreaL1": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_specialtyId": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem_streetNumberAndName": {
            "type": "string"
        },
        "GetDoctorsResult_doctorsItem": {
            "type": "structure",
            "required": [
                "firstName",
                "id",
                "lastName",
                "payoutInfoIsSet",
                "servicesOffered",
                "specialtyId"
            ],
            "members": {
                "longitude": {
                    "shape": "GetDoctorsResult_doctorsItem_longitude"
                },
                "officeNumber": {
                    "shape": "GetDoctorsResult_doctorsItem_officeNumber"
                },
                "suite": {
                    "shape": "GetDoctorsResult_doctorsItem_suite"
                },
                "city": {
                    "shape": "GetDoctorsResult_doctorsItem_city"
                },
                "firstName": {
                    "shape": "GetDoctorsResult_doctorsItem_firstName"
                },
                "postalCode": {
                    "shape": "GetDoctorsResult_doctorsItem_postalCode"
                },
                "lastName": {
                    "shape": "GetDoctorsResult_doctorsItem_lastName"
                },
                "serviceDetailsList": {
                    "shape": "GetDoctorsResult_doctorsItem_serviceDetailsList"
                },
                "profilePhotoUrl": {
                    "shape": "GetDoctorsResult_doctorsItem_profilePhotoUrl"
                },
                "coverPhotoUrl": {
                    "shape": "GetDoctorsResult_doctorsItem_coverPhotoUrl"
                },
                "servicesOffered": {
                    "shape": "GetDoctorsResult_doctorsItem_servicesOffered"
                },
                "latitude": {
                    "shape": "GetDoctorsResult_doctorsItem_latitude"
                },
                "id": {
                    "shape": "GetDoctorsResult_doctorsItem_id"
                },
                "payoutInfoIsSet": {
                    "shape": "GetDoctorsResult_doctorsItem_payoutInfoIsSet"
                },
                "administrativeAreaL1": {
                    "shape": "GetDoctorsResult_doctorsItem_administrativeAreaL1"
                },
                "specialtyId": {
                    "shape": "GetDoctorsResult_doctorsItem_specialtyId"
                },
                "streetNumberAndName": {
                    "shape": "GetDoctorsResult_doctorsItem_streetNumberAndName"
                }
            }
        },
        "GetDoctorsResult_doctors": {
            "type": "list",
            "member": {
                "shape": "GetDoctorsResult_doctorsItem"
            }
        },
        "GetDoctorsResult": {
            "type": "structure",
            "required": [],
            "members": {
                "doctors": {
                    "shape": "GetDoctorsResult_doctors"
                }
            }
        },
        "ClientUser_email": {
            "type": "string"
        },
        "ClientUser_profilePhotoUrl": {
            "type": "string"
        },
        "ClientUser_mobileNumber": {
            "type": "string"
        },
        "ClientUser_id": {
            "type": "string"
        },
        "ClientUser_stripeCustomerId": {
            "type": "string"
        },
        "ClientUser_firstName": {
            "type": "string"
        },
        "ClientUser_doctorId": {
            "type": "string"
        },
        "ClientUser_lastName": {
            "type": "string"
        },
        "ClientUser": {
            "type": "structure",
            "required": [
                "email",
                "firstName",
                "id",
                "lastName"
            ],
            "members": {
                "email": {
                    "shape": "ClientUser_email"
                },
                "profilePhotoUrl": {
                    "shape": "ClientUser_profilePhotoUrl"
                },
                "mobileNumber": {
                    "shape": "ClientUser_mobileNumber"
                },
                "id": {
                    "shape": "ClientUser_id"
                },
                "stripeCustomerId": {
                    "shape": "ClientUser_stripeCustomerId"
                },
                "firstName": {
                    "shape": "ClientUser_firstName"
                },
                "doctorId": {
                    "shape": "ClientUser_doctorId"
                },
                "lastName": {
                    "shape": "ClientUser_lastName"
                }
            }
        },
        "GetDoctorsRequest_doctorIdsItem": {
            "type": "string"
        },
        "GetDoctorsRequest_doctorIds": {
            "type": "list",
            "member": {
                "shape": "GetDoctorsRequest_doctorIdsItem"
            }
        },
        "GetDoctorsRequest": {
            "type": "structure",
            "required": [],
            "members": {
                "doctorIds": {
                    "shape": "GetDoctorsRequest_doctorIds"
                }
            }
        },
        "ClientDoctorSpecialty_isCommon": {
            "type": "boolean"
        },
        "ClientDoctorSpecialty_id": {
            "type": "string"
        },
        "ClientDoctorSpecialty_name": {
            "type": "string"
        },
        "ClientDoctorSpecialty": {
            "type": "structure",
            "required": [
                "id",
                "isCommon",
                "name"
            ],
            "members": {
                "isCommon": {
                    "shape": "ClientDoctorSpecialty_isCommon"
                },
                "id": {
                    "shape": "ClientDoctorSpecialty_id"
                },
                "name": {
                    "shape": "ClientDoctorSpecialty_name"
                }
            }
        },
        "GetLoggedInUserResult_userExists": {
            "type": "boolean"
        },
        "GetLoggedInUserResult_user_email": {
            "type": "string"
        },
        "GetLoggedInUserResult_user_profilePhotoUrl": {
            "type": "string"
        },
        "GetLoggedInUserResult_user_mobileNumber": {
            "type": "string"
        },
        "GetLoggedInUserResult_user_id": {
            "type": "string"
        },
        "GetLoggedInUserResult_user_stripeCustomerId": {
            "type": "string"
        },
        "GetLoggedInUserResult_user_firstName": {
            "type": "string"
        },
        "GetLoggedInUserResult_user_doctorId": {
            "type": "string"
        },
        "GetLoggedInUserResult_user_lastName": {
            "type": "string"
        },
        "GetLoggedInUserResult_user": {
            "type": "structure",
            "required": [
                "email",
                "firstName",
                "id",
                "lastName"
            ],
            "members": {
                "email": {
                    "shape": "GetLoggedInUserResult_user_email"
                },
                "profilePhotoUrl": {
                    "shape": "GetLoggedInUserResult_user_profilePhotoUrl"
                },
                "mobileNumber": {
                    "shape": "GetLoggedInUserResult_user_mobileNumber"
                },
                "id": {
                    "shape": "GetLoggedInUserResult_user_id"
                },
                "stripeCustomerId": {
                    "shape": "GetLoggedInUserResult_user_stripeCustomerId"
                },
                "firstName": {
                    "shape": "GetLoggedInUserResult_user_firstName"
                },
                "doctorId": {
                    "shape": "GetLoggedInUserResult_user_doctorId"
                },
                "lastName": {
                    "shape": "GetLoggedInUserResult_user_lastName"
                }
            }
        },
        "GetLoggedInUserResult": {
            "type": "structure",
            "required": [],
            "members": {
                "userExists": {
                    "shape": "GetLoggedInUserResult_userExists"
                },
                "user": {
                    "shape": "GetLoggedInUserResult_user"
                }
            }
        },
        "CancelAppointmentResult_errorCode": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_basePriceCents": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_chargeId": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_id": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_serviceId": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_reimbursementDate": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_cancellationDate": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_doctorId": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_appointmentState": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_dateBooked": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_totalPriceCents": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_startTime": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_amountRefundedCents": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_patientId": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_doctorServiceFeeCents": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_patientServiceFeeCents": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_durationSeconds": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment_doctorEarningsCents": {
            "type": "string"
        },
        "CancelAppointmentResult_appointment": {
            "type": "structure",
            "required": [
                "appointmentState",
                "chargeId",
                "dateBooked",
                "doctorId",
                "durationSeconds",
                "id",
                "patientId",
                "serviceId",
                "startTime"
            ],
            "members": {
                "basePriceCents": {
                    "shape": "CancelAppointmentResult_appointment_basePriceCents"
                },
                "chargeId": {
                    "shape": "CancelAppointmentResult_appointment_chargeId"
                },
                "id": {
                    "shape": "CancelAppointmentResult_appointment_id"
                },
                "serviceId": {
                    "shape": "CancelAppointmentResult_appointment_serviceId"
                },
                "reimbursementDate": {
                    "shape": "CancelAppointmentResult_appointment_reimbursementDate"
                },
                "cancellationDate": {
                    "shape": "CancelAppointmentResult_appointment_cancellationDate"
                },
                "doctorId": {
                    "shape": "CancelAppointmentResult_appointment_doctorId"
                },
                "appointmentState": {
                    "shape": "CancelAppointmentResult_appointment_appointmentState"
                },
                "dateBooked": {
                    "shape": "CancelAppointmentResult_appointment_dateBooked"
                },
                "totalPriceCents": {
                    "shape": "CancelAppointmentResult_appointment_totalPriceCents"
                },
                "startTime": {
                    "shape": "CancelAppointmentResult_appointment_startTime"
                },
                "amountRefundedCents": {
                    "shape": "CancelAppointmentResult_appointment_amountRefundedCents"
                },
                "patientId": {
                    "shape": "CancelAppointmentResult_appointment_patientId"
                },
                "doctorServiceFeeCents": {
                    "shape": "CancelAppointmentResult_appointment_doctorServiceFeeCents"
                },
                "patientServiceFeeCents": {
                    "shape": "CancelAppointmentResult_appointment_patientServiceFeeCents"
                },
                "durationSeconds": {
                    "shape": "CancelAppointmentResult_appointment_durationSeconds"
                },
                "doctorEarningsCents": {
                    "shape": "CancelAppointmentResult_appointment_doctorEarningsCents"
                }
            }
        },
        "CancelAppointmentResult": {
            "type": "structure",
            "required": [],
            "members": {
                "errorCode": {
                    "shape": "CancelAppointmentResult_errorCode"
                },
                "appointment": {
                    "shape": "CancelAppointmentResult_appointment"
                }
            }
        },
        "AddCreditCardRequest_cardToken": {
            "type": "string"
        },
        "AddCreditCardRequest": {
            "type": "structure",
            "required": [
                "cardToken"
            ],
            "members": {
                "cardToken": {
                    "shape": "AddCreditCardRequest_cardToken"
                }
            }
        },
        "ScheduleAppointmentRequest_startTime": {
            "type": "string"
        },
        "ScheduleAppointmentRequest_totalPriceCents": {
            "type": "string"
        },
        "ScheduleAppointmentRequest_serviceId": {
            "type": "string"
        },
        "ScheduleAppointmentRequest_billFingerprint": {
            "type": "string"
        },
        "ScheduleAppointmentRequest_doctorId": {
            "type": "string"
        },
        "ScheduleAppointmentRequest": {
            "type": "structure",
            "required": [
                "billFingerprint",
                "doctorId",
                "serviceId",
                "startTime",
                "totalPriceCents"
            ],
            "members": {
                "startTime": {
                    "shape": "ScheduleAppointmentRequest_startTime"
                },
                "totalPriceCents": {
                    "shape": "ScheduleAppointmentRequest_totalPriceCents"
                },
                "serviceId": {
                    "shape": "ScheduleAppointmentRequest_serviceId"
                },
                "billFingerprint": {
                    "shape": "ScheduleAppointmentRequest_billFingerprint"
                },
                "doctorId": {
                    "shape": "ScheduleAppointmentRequest_doctorId"
                }
            }
        },
        "GetStripeCustomerRequest_userId": {
            "type": "string"
        },
        "GetStripeCustomerRequest": {
            "type": "structure",
            "required": [
                "userId"
            ],
            "members": {
                "userId": {
                    "shape": "GetStripeCustomerRequest_userId"
                }
            }
        },
        "UrlForFileRequest_patientId": {
            "type": "string"
        },
        "UrlForFileRequest_fileName": {
            "type": "string"
        },
        "UrlForFileRequest_doctorId": {
            "type": "string"
        },
        "UrlForFileRequest_httpMethod": {
            "type": "string"
        },
        "UrlForFileRequest": {
            "type": "structure",
            "required": [
                "fileName",
                "httpMethod"
            ],
            "members": {
                "patientId": {
                    "shape": "UrlForFileRequest_patientId"
                },
                "fileName": {
                    "shape": "UrlForFileRequest_fileName"
                },
                "doctorId": {
                    "shape": "UrlForFileRequest_doctorId"
                },
                "httpMethod": {
                    "shape": "UrlForFileRequest_httpMethod"
                }
            }
        },
        "VitalServicesRequest_email": {
            "type": "string"
        },
        "VitalServicesRequest_officeNumber": {
            "type": "string"
        },
        "VitalServicesRequest_serviceId": {
            "type": "string"
        },
        "VitalServicesRequest_operation": {
            "type": "string"
        },
        "VitalServicesRequest_employerIdentificationNumber": {
            "type": "string"
        },
        "VitalServicesRequest_bankAccountToken": {
            "type": "string"
        },
        "VitalServicesRequest_sourceId": {
            "type": "string"
        },
        "VitalServicesRequest_getPatients": {
            "type": "boolean"
        },
        "VitalServicesRequest_postalCode": {
            "type": "string"
        },
        "VitalServicesRequest_string1": {
            "type": "string"
        },
        "VitalServicesRequest_state": {
            "type": "string"
        },
        "VitalServicesRequest_longitude": {
            "type": "double"
        },
        "VitalServicesRequest_billVersion": {
            "type": "string"
        },
        "VitalServicesRequest_startTime": {
            "type": "string"
        },
        "VitalServicesRequest_suite": {
            "type": "string"
        },
        "VitalServicesRequest_appointmentId": {
            "type": "string"
        },
        "VitalServicesRequest_string3": {
            "type": "string"
        },
        "VitalServicesRequest_city": {
            "type": "string"
        },
        "VitalServicesRequest_birthdateYear": {
            "type": "string"
        },
        "VitalServicesRequest_firstName": {
            "type": "string"
        },
        "VitalServicesRequest_lastName": {
            "type": "string"
        },
        "VitalServicesRequest_string2": {
            "type": "string"
        },
        "VitalServicesRequest_mobileNumber": {
            "type": "string"
        },
        "VitalServicesRequest_doctorId": {
            "type": "string"
        },
        "VitalServicesRequest_lastTime": {
            "type": "string"
        },
        "VitalServicesRequest_patientId": {
            "type": "string"
        },
        "VitalServicesRequest_httpMethod": {
            "type": "string"
        },
        "VitalServicesRequest_latitude": {
            "type": "double"
        },
        "VitalServicesRequest_availableTimeSlotsItem": {
            "type": "string"
        },
        "VitalServicesRequest_availableTimeSlots": {
            "type": "list",
            "member": {
                "shape": "VitalServicesRequest_availableTimeSlotsItem"
            }
        },
        "VitalServicesRequest_durationMinutes": {
            "type": "string"
        },
        "VitalServicesRequest_file": {
            "type": "string"
        },
        "VitalServicesRequest_businessName": {
            "type": "string"
        },
        "VitalServicesRequest_appointmentIdsItem": {
            "type": "string"
        },
        "VitalServicesRequest_appointmentIds": {
            "type": "list",
            "member": {
                "shape": "VitalServicesRequest_appointmentIdsItem"
            }
        },
        "VitalServicesRequest_patientIdsItem": {
            "type": "string"
        },
        "VitalServicesRequest_patientIds": {
            "type": "list",
            "member": {
                "shape": "VitalServicesRequest_patientIdsItem"
            }
        },
        "VitalServicesRequest_string4": {
            "type": "string"
        },
        "VitalServicesRequest_lateCancellation": {
            "type": "boolean"
        },
        "VitalServicesRequest_birthdateDay": {
            "type": "string"
        },
        "VitalServicesRequest_getDoctors": {
            "type": "boolean"
        },
        "VitalServicesRequest_specialtyId": {
            "type": "string"
        },
        "VitalServicesRequest_doctorIdsItem": {
            "type": "string"
        },
        "VitalServicesRequest_doctorIds": {
            "type": "list",
            "member": {
                "shape": "VitalServicesRequest_doctorIdsItem"
            }
        },
        "VitalServicesRequest_cardToken": {
            "type": "string"
        },
        "VitalServicesRequest_ssnLast4": {
            "type": "string"
        },
        "VitalServicesRequest_unavailableTimeSlotsItem": {
            "type": "string"
        },
        "VitalServicesRequest_unavailableTimeSlots": {
            "type": "list",
            "member": {
                "shape": "VitalServicesRequest_unavailableTimeSlotsItem"
            }
        },
        "VitalServicesRequest_pictureUrl": {
            "type": "string"
        },
        "VitalServicesRequest_priceDollars": {
            "type": "string"
        },
        "VitalServicesRequest_birthdateMonth": {
            "type": "string"
        },
        "VitalServicesRequest_firstTime": {
            "type": "string"
        },
        "VitalServicesRequest_serviceIdsItem": {
            "type": "string"
        },
        "VitalServicesRequest_serviceIds": {
            "type": "list",
            "member": {
                "shape": "VitalServicesRequest_serviceIdsItem"
            }
        },
        "VitalServicesRequest_streetNumberAndName": {
            "type": "string"
        },
        "VitalServicesRequest": {
            "type": "structure",
            "required": [],
            "members": {
                "email": {
                    "shape": "VitalServicesRequest_email"
                },
                "officeNumber": {
                    "shape": "VitalServicesRequest_officeNumber"
                },
                "serviceId": {
                    "shape": "VitalServicesRequest_serviceId"
                },
                "operation": {
                    "shape": "VitalServicesRequest_operation"
                },
                "employerIdentificationNumber": {
                    "shape": "VitalServicesRequest_employerIdentificationNumber"
                },
                "bankAccountToken": {
                    "shape": "VitalServicesRequest_bankAccountToken"
                },
                "sourceId": {
                    "shape": "VitalServicesRequest_sourceId"
                },
                "getPatients": {
                    "shape": "VitalServicesRequest_getPatients"
                },
                "postalCode": {
                    "shape": "VitalServicesRequest_postalCode"
                },
                "string1": {
                    "shape": "VitalServicesRequest_string1"
                },
                "state": {
                    "shape": "VitalServicesRequest_state"
                },
                "longitude": {
                    "shape": "VitalServicesRequest_longitude"
                },
                "billVersion": {
                    "shape": "VitalServicesRequest_billVersion"
                },
                "startTime": {
                    "shape": "VitalServicesRequest_startTime"
                },
                "suite": {
                    "shape": "VitalServicesRequest_suite"
                },
                "appointmentId": {
                    "shape": "VitalServicesRequest_appointmentId"
                },
                "string3": {
                    "shape": "VitalServicesRequest_string3"
                },
                "city": {
                    "shape": "VitalServicesRequest_city"
                },
                "birthdateYear": {
                    "shape": "VitalServicesRequest_birthdateYear"
                },
                "firstName": {
                    "shape": "VitalServicesRequest_firstName"
                },
                "lastName": {
                    "shape": "VitalServicesRequest_lastName"
                },
                "string2": {
                    "shape": "VitalServicesRequest_string2"
                },
                "mobileNumber": {
                    "shape": "VitalServicesRequest_mobileNumber"
                },
                "doctorId": {
                    "shape": "VitalServicesRequest_doctorId"
                },
                "lastTime": {
                    "shape": "VitalServicesRequest_lastTime"
                },
                "patientId": {
                    "shape": "VitalServicesRequest_patientId"
                },
                "httpMethod": {
                    "shape": "VitalServicesRequest_httpMethod"
                },
                "latitude": {
                    "shape": "VitalServicesRequest_latitude"
                },
                "availableTimeSlots": {
                    "shape": "VitalServicesRequest_availableTimeSlots"
                },
                "durationMinutes": {
                    "shape": "VitalServicesRequest_durationMinutes"
                },
                "file": {
                    "shape": "VitalServicesRequest_file"
                },
                "businessName": {
                    "shape": "VitalServicesRequest_businessName"
                },
                "appointmentIds": {
                    "shape": "VitalServicesRequest_appointmentIds"
                },
                "patientIds": {
                    "shape": "VitalServicesRequest_patientIds"
                },
                "string4": {
                    "shape": "VitalServicesRequest_string4"
                },
                "lateCancellation": {
                    "shape": "VitalServicesRequest_lateCancellation"
                },
                "birthdateDay": {
                    "shape": "VitalServicesRequest_birthdateDay"
                },
                "getDoctors": {
                    "shape": "VitalServicesRequest_getDoctors"
                },
                "specialtyId": {
                    "shape": "VitalServicesRequest_specialtyId"
                },
                "doctorIds": {
                    "shape": "VitalServicesRequest_doctorIds"
                },
                "cardToken": {
                    "shape": "VitalServicesRequest_cardToken"
                },
                "ssnLast4": {
                    "shape": "VitalServicesRequest_ssnLast4"
                },
                "unavailableTimeSlots": {
                    "shape": "VitalServicesRequest_unavailableTimeSlots"
                },
                "pictureUrl": {
                    "shape": "VitalServicesRequest_pictureUrl"
                },
                "priceDollars": {
                    "shape": "VitalServicesRequest_priceDollars"
                },
                "birthdateMonth": {
                    "shape": "VitalServicesRequest_birthdateMonth"
                },
                "firstTime": {
                    "shape": "VitalServicesRequest_firstTime"
                },
                "serviceIds": {
                    "shape": "VitalServicesRequest_serviceIds"
                },
                "streetNumberAndName": {
                    "shape": "VitalServicesRequest_streetNumberAndName"
                }
            }
        },
        "RegisterDoctorRequest_officeNumber": {
            "type": "string"
        },
        "RegisterDoctorRequest_specialtyId": {
            "type": "string"
        },
        "RegisterDoctorRequest": {
            "type": "structure",
            "required": [
                "officeNumber",
                "specialtyId"
            ],
            "members": {
                "officeNumber": {
                    "shape": "RegisterDoctorRequest_officeNumber"
                },
                "specialtyId": {
                    "shape": "RegisterDoctorRequest_specialtyId"
                }
            }
        },
        "ClientDoctorScheduleTimeSlot_appointmentId": {
            "type": "string"
        },
        "ClientDoctorScheduleTimeSlot_timeSlot": {
            "type": "string"
        },
        "ClientDoctorScheduleTimeSlot": {
            "type": "structure",
            "required": [
                "timeSlot"
            ],
            "members": {
                "appointmentId": {
                    "shape": "ClientDoctorScheduleTimeSlot_appointmentId"
                },
                "timeSlot": {
                    "shape": "ClientDoctorScheduleTimeSlot_timeSlot"
                }
            }
        }
    }
}
