if (decoder != nullptr)
{
    auto initialMapType = decoder->PeekType();
    if (initialMapType.has_value() && (initialMapType.value() == CborType::MapStart || initialMapType.value() == CborType::IndefMapStart))
    {
        if (initialMapType.value() == CborType::MapStart)
        {
            auto mapSize = decoder->PopNextMapStart();
            if (mapSize.has_value())
            {
                for (size_t i = 0; i < mapSize.value(); ++i)
                {
                    auto initialKey = decoder->PopNextTextVal();
                    if (initialKey.has_value())
                    {
                        Aws::String initialKeyStr(reinterpret_cast<const char*>(initialKey.value().ptr), initialKey.value().len);
                        #parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/cbor/ModelClassMembersDeserializeCbor.vm")
                        if((decoder->LastError() != AWS_ERROR_UNKNOWN)){
                            AWS_LOG_ERROR("${typeInfo.className}", "Invalid data received for %s", initialKeyStr.c_str());
                            break;
                        }
                    }
                }
            }
        }
        else // IndefMapStart
        {
            decoder->ConsumeNextSingleElement(); // consume the IndefMapStart
            while (decoder->LastError() == AWS_ERROR_UNKNOWN)
            {
                auto outerMapNextType = decoder->PeekType();
                if (!outerMapNextType.has_value() || outerMapNextType.value() == CborType::Break)
                {
                    if (outerMapNextType.has_value())
                    {
                        decoder->ConsumeNextSingleElement(); // consume the Break
                    }
                    break;
                }

                auto initialKey = decoder->PopNextTextVal();
                if (initialKey.has_value())
                {
                    Aws::String initialKeyStr(reinterpret_cast<const char*>(initialKey.value().ptr), initialKey.value().len);
                    #parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/cbor/ModelClassMembersDeserializeCbor.vm")
                }
            }
        }
    }
}