${operation.name}Outcome ${className}::${operation.name}() const
{
  Aws::StringStream ss;
#if($metadata.hasEndpointTrait)
  ss << m_baseUri << "${operation.http.requestUri}";
#else
  ss << m_uri << "${operation.http.requestUri}";
#end
#if($operation.result && $operation.result.shape.hasStreamMembers())
  return ${operation.name}Outcome(MakeRequestWithUnparsedResponse(ss.str(), Aws::Http::HttpMethod::HTTP_${operation.http.method}, $operation.request.shape.signerName, "${operation.name}"));
#elseif($operation.request)
  return ${operation.name}Outcome(MakeRequest(ss.str(), Aws::Http::HttpMethod::HTTP_${operation.http.method}, $operation.request.shape.signerName, "${operation.name}"));
#else
  return ${operation.name}Outcome(MakeRequest(ss.str(), Aws::Http::HttpMethod::HTTP_${operation.http.method}, Aws::Auth::SIGV4_SIGNER, "${operation.name}"));
#end
}
