#parse("com/amazonaws/util/awsclientgenerator/velocity/cfamily/Attribution.vm")

#pragma once
#set($metadata = $serviceModel.metadata)
#set($rootNamespace = $serviceModel.namespace)
#set($serviceNamespace = $metadata.namespace)
#set($exportMacro = $typeInfo.exportValue)
\#include <aws/$metadata.projectName/${metadata.classNamePrefix}_EXPORTS.h>
#foreach($header in $typeInfo.headerIncludes)
\#include $header
#end

namespace Aws
{
namespace Utils
{
namespace Json
{
  class JsonValue;
  class JsonView;
} // namespace Json
} // namespace Utils
#if ($rootNamespace != "Aws")
} // namespace Aws
namespace ${rootNamespace}
{
#end
namespace ${serviceNamespace}
{
namespace Model
{
#set($classNameRef = "${typeInfo.className}&")
#foreach($forwardDeclaration in $typeInfo.forwardDeclarations)
  class $forwardDeclaration;
#end

#if($shape.documentation)
  /**
   * $shape.documentation
   */
#end
  class $typeInfo.className
  {
  public:
    ${exportMacro} ${typeInfo.className}();
    ${exportMacro} ${typeInfo.className}(${typeInfo.jsonViewType} jsonValue);
    ${exportMacro} ${classNameRef} operator=(${typeInfo.jsonViewType} jsonValue);
    ${exportMacro} ${typeInfo.jsonType} Jsonize() const;

#set($useRequiredField = true)
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/ModelClassMembersAndInlines.vm")
  };

} // namespace Model
} // namespace ${serviceNamespace}
} // namespace ${rootNamespace}
