#parse("com/amazonaws/util/awsclientgenerator/velocity/cfamily/Attribution.vm")

#set($metadata = $serviceModel.metadata)
#set($rootNamespace = $serviceModel.namespace)
#set($serviceNamespace = $metadata.namespace)
\#include <aws/${metadata.projectName}/model/${typeInfo.className}.h>
\#include <aws/core/utils/json/JsonSerializer.h>
\#include <aws/core/AmazonWebServiceResult.h>
\#include <aws/core/utils/StringUtils.h>
\#include <aws/core/utils/UnreferencedParam.h>
#foreach($header in $typeInfo.sourceIncludes)
\#include $header
#end

\#include <utility>

using namespace ${rootNamespace}::${serviceNamespace}::Model;
using namespace Aws::Utils::Json;
using namespace Aws::Utils;
using namespace Aws;

${typeInfo.className}::${typeInfo.className}(const Aws::AmazonWebServiceResult<JsonValue>& result)
#if($initializers)
  : ${typeInfo.className}()
#end
{
  *this = result;
}

${typeInfo.className}& ${typeInfo.className}::operator =(const Aws::AmazonWebServiceResult<JsonValue>& result)
{
#if($shape.hasPayloadMembers())
  JsonView jsonValue = result.GetPayload().View();
#else
  AWS_UNREFERENCED_PARAM(result);
#end
#set($useRequiredField = false)
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/json/ModelClassMembersDeserializeJson.vm")

#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/common/ResultClassHeadersDeserialize.vm")

#if($shape.hasStatusCodeMembers())
#foreach($memberEntry in $shape.members.entrySet())
#if($memberEntry.value.usedForHttpStatusCode)
  ${CppViewHelper.computeMemberVariableName($memberEntry.key)} = static_cast<int>(result.GetResponseCode());
  ${CppViewHelper.computeVariableHasBeenSetName($memberEntry.key)} = true;
#end
#end
#end
  return *this;
}
