# exceptions due to naming conflicts between our external projects (curl/openssl) and implementations that use those libraries
!source/utils/base64/openssl
!source/utils/crypto/openssl
!source/http/curl
!source/external
!include/aws/external
