#if($operation.requestAlgorithmMember)
#set($checksumAlgorithmMember = $shape.members.get($operation.requestAlgorithmMember))
#set($lowerCaseVarName = $CppViewHelper.computeVariableName($operation.requestAlgorithmMember))

Aws::String ${typeInfo.className}::GetChecksumAlgorithmName() const
{
  if (m_checksumInfo.GetChecksumAlgorithm() != Client::Checksum::ChecksumAlgorithm::NOT_SET)
  {
    return m_checksumInfo.GetChecksumAlgorithmName();
  }
  return "md5";
}

#end
#if($operation.requestValidationModeMember)
bool ${typeInfo.className}::ShouldValidateResponseChecksum() const
{
  if (GetChecksumInfo().has_value())
  {
    return ChecksumModeMapper::GetChecksumModeForName(Client::Checksum::NameForMode(m_checksumInfo.GetShouldValidateResponse())) == ChecksumMode::ENABLED;
  }
  return true;
}

#end
#if($operation.responseAlgorithms)
Aws::Vector<Aws::String> ${typeInfo.className}::GetResponseChecksumAlgorithmNames() const
{
  Aws::Vector<Aws::String> responseChecksumAlgorithmNames;
#foreach($responseAlgorithm in $operation.responseAlgorithms)
  responseChecksumAlgorithmNames.push_back(ChecksumAlgorithmMapper::GetNameForChecksumAlgorithm(ChecksumAlgorithm::${responseAlgorithm}).c_str());
#end
  return responseChecksumAlgorithmNames;
}

#end
#if($operation.responseAlgorithms || $operation.requestAlgorithmMember)
Aws::Crt::Optional<Aws::Client::Checksum::ChecksumInfo> ${typeInfo.className}::GetChecksumInfo() const
{
  return m_checksumInfo;
}

#end