#parse("com/amazonaws/util/awsclientgenerator/velocity/cfamily/Attribution.vm")

#set($metadata = $serviceModel.metadata)
#set($rootNamespace = $serviceModel.namespace)
#set($serviceNamespace = $metadata.namespace)
\#include <aws/${metadata.projectName}/model/${typeInfo.className}.h>
\#include <aws/core/AmazonWebServiceResult.h>
\#include <aws/core/utils/StringUtils.h>
#foreach($header in $typeInfo.sourceIncludes)
\#include $header
#end

\#include <utility>

using namespace ${rootNamespace}::${serviceNamespace}::Model;
using namespace Aws::Utils::Stream;
using namespace Aws::Utils;
using namespace Aws;

#set($useRequiredField = false)
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/ModelClassMembersGenerateInitializers.vm")
${typeInfo.className}::${typeInfo.className}()$initializers
{
}

#set($useRequiredField = false)
#set($container = "toMove")
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/ModelClassMembersGenerateMoveInitializers.vm")
${typeInfo.className}::${typeInfo.className}(${typeInfo.className}&& toMove)$moveInitializers
{
}

${typeInfo.className}& ${typeInfo.className}::operator=(${typeInfo.className}&& toMove)
{
   if(this == &toMove)
   {
      return *this;
   }

#foreach($memberEntry in $shape.members.entrySet())
#set($memberVarName = $CppViewHelper.computeMemberVariableName($memberEntry.key))
#if($memberEntry.value.shape.primitive || $memberEntry.value.shape.enum)
   ${memberVarName} = toMove.${memberVarName};
#else
   ${memberVarName} = std::move(toMove.${memberVarName});
#end
#end

   return *this;
}

${typeInfo.className}::${typeInfo.className}(Aws::AmazonWebServiceResult<ResponseStream>&& result)
#if($initializers)
  : ${typeInfo.className}()
#end
{
  *this = std::move(result);
}

${typeInfo.className}& ${typeInfo.className}::operator =(Aws::AmazonWebServiceResult<ResponseStream>&& result)
{
  ${CppViewHelper.computeMemberVariableName($shape.payload)} = result.TakeOwnershipOfPayload();

#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/common/ResultClassHeadersDeserialize.vm")
#if($shape.hasStatusCodeMembers())
#foreach($memberEntry in $shape.members.entrySet())
#if($memberEntry.value.usedForHttpStatusCode)
  ${CppViewHelper.computeMemberVariableName($memberEntry.key)} = static_cast<int>(result.GetResponseCode());

#end
#end
#end
   return *this;
}
