#parse("com/amazonaws/util/awsclientgenerator/velocity/cfamily/Attribution.vm")

#set($metadata = $serviceModel.metadata)
#set($rootNamespace = $serviceModel.namespace)
#set($serviceNamespace = $metadata.namespace)
\#include <aws/${metadata.projectName}/model/${typeInfo.className}.h>
\#include <aws/core/AmazonWebServiceResult.h>
\#include <aws/core/utils/StringUtils.h>
#foreach($header in $typeInfo.sourceIncludes)
\#include $header
#end

\#include <utility>

using namespace ${rootNamespace}::${serviceNamespace}::Model;
using namespace Aws::Utils::Stream;
using namespace Aws::Utils;
using namespace Aws;

${typeInfo.className}::${typeInfo.className}(Aws::AmazonWebServiceResult<ResponseStream>&& result)
#if($initializers)
  : ${typeInfo.className}()
#end
{
  *this = std::move(result);
}

${typeInfo.className}& ${typeInfo.className}::operator =(Aws::AmazonWebServiceResult<ResponseStream>&& result)
{
  ${CppViewHelper.computeMemberVariableName($shape.payload)} = result.TakeOwnershipOfPayload();
  ${CppViewHelper.computeVariableHasBeenSetName($shape.payload)} = true;

#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/common/ResultClassHeadersDeserialize.vm")
#if($shape.hasStatusCodeMembers())
#foreach($memberEntry in $shape.members.entrySet())
#if($memberEntry.value.usedForHttpStatusCode)
  ${CppViewHelper.computeMemberVariableName($memberEntry.key)} = static_cast<int>(result.GetResponseCode());
  ${CppViewHelper.computeVariableHasBeenSetName($memberEntry.key)} = true;
#end
#end
#end
   return *this;
}
