#if($operation.result.shape.hasEventStreamMembers())
#set($constText = "")
#set($refText = "&")
#else
#set($constText = "const ")
#set($refText = "")
#end#if($serviceModel.metadata.serviceId == "S3" && $operation.s3CrtEnabled)
${operation.name}OutcomeCallable ${className}::${operation.name}Callable(${constText}${operation.request.shape.name}& request) const
{
  return SubmitCallable(&${className}::${operation.name}, request);
}

#end