#parse("com/amazonaws/util/awsclientgenerator/velocity/cfamily/Attribution.vm")

#set($metadata = $serviceModel.metadata)
#set($rootNamespace = $serviceModel.namespace)
#set($serviceNamespace = $metadata.namespace)
#pragma once

\#include <aws/${metadata.projectName}/${metadata.classNamePrefix}_EXPORTS.h>
\#include <smithy/identity/auth/AuthSchemeOption.h>

namespace ${rootNamespace} {
namespace ${serviceNamespace} {

    struct S3ExpressSigV4AuthSchemeOption
    {
        static ${CppViewHelper.computeExportValue($serviceNamespace)} smithy::AuthSchemeOption s3ExpressSigV4AuthSchemeOption;
    };
}
}
