/**
 * Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0.
 */

#include <performance-tests/services/{{ service_lower }}/{{ service }}PerformanceTest.h>
#include <performance-tests/services/{{ service_lower }}/{{ service }}TestConfig.h>

#include <array>

namespace PerformanceTest {
namespace Services {
namespace {{ service }} {
namespace TestConfig {

const std::array<const char*, {{ operations|length }}> TestOperations = {
{%- for op in operations -%}
"{{ op }}"{% if not loop.last %}, {% endif %}
{%- endfor -%}
};

const std::array<TestCase, {{ test_matrix|length }}> TestMatrix = {% raw %}{{% endraw %}{% raw %}{{% endraw %}
{% for item in test_matrix %}
{
{%- for key, value in item.items() -%}
.{{ key }} = {% if key.endswith('Bytes') %}{{ value }}{% else %}"{{ value }}"{% endif %}{% if not loop.last %}, {% endif %}
{%- endfor -%}
}{% if not loop.last %},{% endif %}
{% endfor %}
{% raw %}}{% endraw %}{% raw %}}{% endraw %};

const char* OutputFilename = "{{ output_filename }}";

}  // namespace TestConfig
}  // namespace {{ service }}
}  // namespace Services
}  // namespace PerformanceTest