#set($startIndex = 0)
#set($skipFirst = false)
#if($virtualAddressingSupported || $arnEndpointSupported)
#if($operation.virtualAddressAllowed)
  ComputeEndpointOutcome computeEndpointOutcome = ComputeEndpointString(request.Get${CppViewHelper.convertToUpperCamel($operation.virtualAddressMemberName)}());
#set($startIndex = 1)
#set($skipFirst = true)
#elseif($operation.arnEndpointAllowed)
  ComputeEndpointOutcome computeEndpointOutcome = ComputeEndpointString(request.Get${CppViewHelper.convertToUpperCamel($operation.arnEndpointMemberName)}());
#set($startIndex = 1)
#set($skipFirst = true)
#else
  ComputeEndpointOutcome computeEndpointOutcome = ComputeEndpointString();
#end
  if (!computeEndpointOutcome.IsSuccess())
  {
    return ${operation.name}Outcome(computeEndpointOutcome.GetError());
  }
  Aws::Http::URI uri = computeEndpointOutcome.GetResult().first;
#elseif($accountIdInHostnameSupported)
#if($operation.hasAccountIdInHostname)
  Aws::String endpointString(ComputeEndpointString(request.GetAccountId()));
  if (endpointString.empty())
  {
      return ${operation.name}Outcome(AWSError<CoreErrors>(CoreErrors::VALIDATION, "", "Account ID provided is not a valid [RFC 1123 2.1] host domain name label.", false/*retryable*/));
  }
  Aws::Http::URI uri = endpointString;
#else
  Aws::Http::URI uri = ComputeEndpointString();
#end
#else
#if($metadata.hasEndpointTrait)
  Aws::Http::URI uri = m_scheme + "://" + m_baseUri;
#else
  Aws::Http::URI uri = m_uri;
#end
#end
#if($operation.hasEndpointDiscoveryTrait)
  if (m_enableEndpointDiscovery)
  {
#set($hasId=false)
#foreach($memberEntry in $operation.request.shape.members.entrySet())
#if($memberEntry.value.endpointDiscoveryId)
#set($hasId=true)
#break
#end
#end
#if($hasId)
    Aws::String endpointKey = "${operation.name}.";
#foreach($memberEntry in $operation.request.shape.members.entrySet())
#if($memberEntry.value.endpointDiscoveryId)
    endpointKey += "${memberEntry.key}:" + request.Get${memberEntry.key}() + ".";
#end
#end
#else
    Aws::String endpointKey = "Shared";
#end
    Aws::String endpoint;
    if (m_endpointsCache.Get(endpointKey, endpoint))
    {
      AWS_LOGSTREAM_TRACE("${operation.name}", "Making request to cached endpoint: " << endpoint);
      uri = endpoint;
    }
    else
    {
      AWS_LOGSTREAM_TRACE("${operation.name}", "Endpoint discovery is enabled and there is no usable endpoint in cache. Discovering endpoints from service...");
      ${metadata.endpointOperationName}Request endpointRequest;
#if($hasId)
      endpointRequest.WithOperation("${operation.name}");
#end
#foreach($memberEntry in $operation.request.shape.members.entrySet())
#if($memberEntry.value.endpointDiscoveryId)
      endpointRequest.AddIdentifiers("${memberEntry.key}", request.Get${memberEntry.key}());
#end
#end
      auto endpointOutcome = ${metadata.endpointOperationName}(endpointRequest);
      if (endpointOutcome.IsSuccess() && !endpointOutcome.GetResult().GetEndpoints().empty())
      {
        const auto& item = endpointOutcome.GetResult().GetEndpoints()[0];
        m_endpointsCache.Put(endpointKey, item.GetAddress(), std::chrono::minutes(item.GetCachePeriodInMinutes()));
        uri = item.GetAddress();
        AWS_LOGSTREAM_TRACE("${operation.name}", "Endpoints cache updated. Address: " << item.GetAddress() << ". Valid in: " << item.GetCachePeriodInMinutes() << " minutes. Making request to newly discovered endpoint.");
      }
      else
      {
#if($operation.requireEndpointDiscovery)
        AWS_LOGSTREAM_ERROR("${operation.name}", "Failed to discover endpoints " << endpointOutcome.GetError());
        return ${operation.name}Outcome(Aws::Client::AWSError<${metadata.classNamePrefix}Errors>(${metadata.classNamePrefix}Errors::RESOURCE_NOT_FOUND, "INVALID_ENDPOINT", "Failed to discover endpoint", false));
#else
        AWS_LOGSTREAM_ERROR("${operation.name}", "Failed to discover endpoints " << endpointOutcome.GetError() << "\n Endpoint discovery is not required for this operation, falling back to the regional endpoint.");
#end
      }
    }
  }
#end
#if($operation.hasEndpointTrait)
  if (m_enableHostPrefixInjection)
  {
#foreach($member in $operation.endpoint.getMemberReferences())
    if (request.Get${member}().empty())
    {
      AWS_LOGSTREAM_ERROR("${operation.name}", "HostPrefix required field: ${member}, is empty");
      return ${operation.name}Outcome(Aws::Client::AWSError<${metadata.classNamePrefix}Errors>(${metadata.classNamePrefix}Errors::INVALID_PARAMETER_VALUE, "INVALID_PARAMETER", "Host prefix field is empty", false));
    }
#end
    uri.SetAuthority(${operation.endpoint.constructHostPrefixString("request")} + uri.GetAuthority());
    if (!Aws::Utils::IsValidHost(uri.GetAuthority()))
    {
      AWS_LOGSTREAM_ERROR("${operation.name}", "Invalid DNS host: " << uri.GetAuthority());
      return ${operation.name}Outcome(Aws::Client::AWSError<${metadata.classNamePrefix}Errors>(${metadata.classNamePrefix}Errors::INVALID_PARAMETER_VALUE, "INVALID_PARAMETER", "Host is invalid", false));
    }
  }
#end
