#set($virtual = "")
#if($serviceModel.enableVirtualOperations)
#set($virtual = "virtual")
#end

#foreach($operation in $serviceModel.operations)
#if($operation.result.shape.hasEventStreamMembers())
#set($constText = "")
#else
#set($constText = "const ")
#end
#if(!$operation.documentation)
#set($operation.documentation = '')
#end
#if($operation.request)
#if($operation.request.shape.hasEventStreamMembers())
        /**
         * ${operation.documentation}
         *
         * Queues the request into a thread executor.
         * The streamReadyHandler is triggered when the stream is ready to be written to.
         * The responseHandler is triggered when the request is finished.
         */
        $virtual void ${operation.name}Async(Model::${operation.request.shape.name}& request,
                const ${operation.name}StreamReadyHandler& streamReadyHandler,
                const ${operation.name}ResponseReceivedHandler& responseHandler,
                const std::shared_ptr<const Aws::Client::AsyncCallerContext>& handlerContext = nullptr) const;

#else
        /**
         * ${operation.documentation}
         */
        $virtual Model::${operation.name}Outcome ${operation.name}(${constText}Model::${operation.request.shape.name}& request) const;

        /**
         * ${operation.documentation}
         *
         * returns a future to the operation so that it can be executed in parallel to other requests.
         */
        $virtual Model::${operation.name}OutcomeCallable ${operation.name}Callable(${constText}Model::${operation.request.shape.name}& request) const;

        /**
         * ${operation.documentation}
         *
         * Queues the request into a thread executor and triggers associated callback when operation has finished.
         */
        $virtual void ${operation.name}Async(${constText}Model::${operation.request.shape.name}& request, const ${operation.name}ResponseReceivedHandler& handler, const std::shared_ptr<const Aws::Client::AsyncCallerContext>& context = nullptr) const;

#end
#else
        /**
         * ${operation.documentation}
         */
        $virtual Model::${operation.name}Outcome ${operation.name}() const;

        /**
         * ${operation.documentation}
         *
         * returns a future to the operation so that it can be executed in parallel to other requests.
         */
        $virtual Model::${operation.name}OutcomeCallable ${operation.name}Callable() const;

        /**
         * ${operation.documentation}
         *
         * Queues the request into a thread executor and triggers associated callback when operation has finished.
         */
        $virtual void ${operation.name}Async(const ${operation.name}ResponseReceivedHandler& handler, const std::shared_ptr<const Aws::Client::AsyncCallerContext>& context = nullptr) const;
#end
#end
