#foreach($operation in $serviceModel.operations)
#if($operation.request)
        class ${operation.request.shape.name};
#foreach($entity in $operation.request.shape.members.entrySet())
#if($entity.value.shape.isEventStream())
        class ${entity.value.shape.name};
#end
#end
#end
#end

#foreach($operation in $serviceModel.operations)
#if($operation.result && !$operation.result.shape.hasEventStreamMembers())
        typedef Aws::Utils::Outcome<${operation.result.shape.name}, Aws::Client::AWSError<${metadata.classNamePrefix}Errors>> ${operation.name}Outcome;
#else
        typedef Aws::Utils::Outcome<Aws::NoResult, Aws::Client::AWSError<${metadata.classNamePrefix}Errors>> ${operation.name}Outcome;
#end
#end

#foreach($operation in $serviceModel.operations)
        typedef std::future<${operation.name}Outcome> ${operation.name}OutcomeCallable;
#end
