#set($hasEventStream = false)
#foreach($operation in $serviceModel.operations)
#if($operation.result.shape.hasEventStreamMembers())
    #set($hasEventStream = true)
#end
#end
#if($hasEventStream)
\#include <aws/core/utils/event/EventStream.h>
#end
#if($arnEndpointSupported || $metadata.hasEndpointDiscoveryTrait)
\#include <aws/core/platform/Environment.h>
#end

\#include <aws/${metadata.projectName}/${className}.h>
\#include <aws/${metadata.projectName}/${metadata.classNamePrefix}Endpoint.h>
\#include <aws/${metadata.projectName}/${metadata.classNamePrefix}ErrorMarshaller.h>
#if($arnEndpointSupported)
\#include <aws/${metadata.projectName}/${metadata.classNamePrefix}ARN.h>
#end
#foreach($operation in $serviceModel.operations)
#if($operation.request)
\#include <aws/${metadata.projectName}/model/${operation.request.shape.name}.h>
#end
#end
#if($serviceModel.metadata.namespace == "S3Crt")
\#include <aws/core/Version.h>
\#include <aws/core/platform/OSVersionInfo.h>
\#include <aws/core/http/standard/StandardHttpResponse.h>
\#include <aws/core/Globals.h>
\#include <aws/crt/Types.h>
\#include <aws/crt/auth/Credentials.h>
\#include <aws/crt/http/HttpRequestResponse.h>
\#include <aws/crt/io/Stream.h>
\#include <aws/http/request_response.h>
\#include <aws/common/string.h>

using namespace Aws::Utils;
#end
