#foreach($operation in $serviceModel.operations)
#if($arnEndpointSupported)
#set($signerName = ", Aws::Auth::SIGV4_SIGNER")
#set($signerRegionOverride = ", computeEndpointOutcome.GetResult().second.c_str() /*signerRegionOverride*/")
#else
#set($signerName = "")
#set($signerRegionOverride = "")
#end
#if($operation.result.shape.hasEventStreamMembers())
#set($constText = "")
#set($refText = "&")
#else
#set($constText = "const ")
#set($refText = "")
#end
#if($operation.request)
${operation.name}Outcome ${className}::${operation.name}(${constText}${operation.request.shape.name}& request) const
{
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/ServiceClientOperationRequestRequiredMemberValidate.vm")
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/ServiceClientOperationEndpointPrepareCommonBody.vm")
  Aws::StringStream ss;
#set($uriParts = $operation.http.requestUriParts)
#set($uriVars = $operation.http.requestParameters)
#set($partIndex = 1)
#set($queryStart = false)
#if($uriParts.size() > $startIndex)
#set($uriPartString = ${uriParts.get($startIndex)})
#if($uriPartString.contains("?"))
#set($queryStart = true)
#set($pathAndQuery = $operation.http.splitUriPartIntoPathAndQuery($uriPartString))
#if(!$pathAndQuery.get(0).isEmpty())
  ss << "${pathAndQuery.get(0)}";
  uri.SetPath(uri.GetPath() + ss.str());
#end
  ss.str("${pathAndQuery.get(1)}");
#else
  ss << "$uriPartString";
#end
#foreach($var in $uriVars)
#set($varIndex = $partIndex - 1)
#if(!$skipFirst)
#set($partShapeMember = $operation.request.shape.getMemberByLocationName($uriVars.get($varIndex)))
#if($partShapeMember.shape.enum)
  ss << ${partShapeMember.shape.name}Mapper::GetNameFor${partShapeMember.shape.name}(request.Get${CppViewHelper.convertToUpperCamel($operation.request.shape.getMemberNameByLocationName($uriVars.get($varIndex)))}());
#else
  ss << request.Get${CppViewHelper.convertToUpperCamel($operation.request.shape.getMemberNameByLocationName($uriVars.get($varIndex)))}();
#end
#if($uriParts.size() > $partIndex)
#set($uriPartString = "${uriParts.get($partIndex)}")
#if(!$queryStart && $uriPartString.contains("?"))
#set($queryStart = true)
#set($pathAndQuery = $operation.http.splitUriPartIntoPathAndQuery($uriPartString))
#if(!$pathAndQuery.get(0).isEmpty())
  ss << "${pathAndQuery.get(0)}";
#end
  uri.SetPath(uri.GetPath() + ss.str());
  ss.str("${pathAndQuery.get(1)}");
#else
  ss << "$uriPartString";
#end
#end
#end
#set($partIndex = $partIndex + 1)
#set($skipFirst = false)
#end
#end
#if(!$queryStart)
  uri.SetPath(uri.GetPath() + ss.str());
#else
  uri.SetQueryString(ss.str());
#end
#if($operation.result && $operation.result.shape.hasEventStreamMembers())
  request.SetResponseStreamFactory(
      [&] { request.GetEventStreamDecoder().Reset(); return Aws::New<Aws::Utils::Event::EventDecoderStream>(ALLOCATION_TAG, request.GetEventStreamDecoder()); }
  );
  XmlOutcome outcome = MakeRequestWithEventStream(uri, request, Aws::Http::HttpMethod::HTTP_${operation.http.method}${signerName}${signerRegionOverride});
#elseif($operation.result && $operation.result.shape.hasStreamMembers())
  StreamOutcome outcome = MakeRequestWithUnparsedResponse(uri, request, Aws::Http::HttpMethod::HTTP_${operation.http.method}${signerName}${signerRegionOverride});
#else
  XmlOutcome outcome = MakeRequest(uri, request, Aws::Http::HttpMethod::HTTP_${operation.http.method}${signerName}${signerRegionOverride});
#end
  if(outcome.IsSuccess())
  {
#if(${operation.result})
#if($operation.result.shape.hasEventStreamMembers())
    return ${operation.name}Outcome(NoResult());
#elseif($operation.result.shape.hasStreamMembers())
    return ${operation.name}Outcome(${operation.result.shape.name}(outcome.GetResultWithOwnership()));
#else
    return ${operation.name}Outcome(${operation.result.shape.name}(outcome.GetResult()));
#end
#else
    return ${operation.name}Outcome(NoResult());
#end
  }
  else
  {
    return ${operation.name}Outcome(outcome.GetError());
  }
}

${operation.name}OutcomeCallable ${className}::${operation.name}Callable(${constText}${operation.request.shape.name}& request) const
{
  auto task = Aws::MakeShared< std::packaged_task< ${operation.name}Outcome() > >(ALLOCATION_TAG, [this, ${refText}request](){ return this->${operation.name}(request); } );
  auto packagedFunction = [task]() { (*task)(); };
  m_executor->Submit(packagedFunction);
  return task->get_future();
}

void ${className}::${operation.name}Async(${constText}${operation.request.shape.name}& request, const ${operation.name}ResponseReceivedHandler& handler, const std::shared_ptr<const Aws::Client::AsyncCallerContext>& context) const
{
  m_executor->Submit( [this, ${refText}request, handler, context](){ this->${operation.name}AsyncHelper( request, handler, context ); } );
}

void ${className}::${operation.name}AsyncHelper(${constText}${operation.request.shape.name}& request, const ${operation.name}ResponseReceivedHandler& handler, const std::shared_ptr<const Aws::Client::AsyncCallerContext>& context) const
{
  handler(this, request, ${operation.name}(request), context);
}

#else
${operation.name}Outcome ${className}::${operation.name}() const
{
  Aws::StringStream ss;
#if($virtualAddressingSupported || $arnEndpointSupported)
  ComputeEndpointOutcome computeEndpointOutcome = ComputeEndpointString();
  if (!computeEndpointOutcome.IsSuccess())
  {
    return ${operation.name}Outcome(computeEndpointOutcome.GetError());
  }
  ss << computeEndpointOutcome.GetResult().first;
#elseif($accountIdInHostnameSupported)
  ss << ComputeEndpointString();
#if($metadata.hasEndpointTrait)
  ss << m_baseUri << "${operation.http.requestUri}";
#else
  ss << m_uri << "${operation.http.requestUri}";
#end
#end
#if($operation.result && $operation.result.shape.hasStreamMembers())
  StreamOutcome outcome = MakeRequestWithUnparsedResponse(ss.str(), Aws::Http::HttpMethod::HTTP_${operation.http.method}, $operation.request.shape.signerName, "${operation.name}"${signerRegionOverride});
#elseif($operation.request)
  XmlOutcome outcome = MakeRequest(ss.str(), Aws::Http::HttpMethod::HTTP_${operation.http.method}, $operation.request.shape.signerName, "{operation.name}"${signerRegionOverride})
#else
  XmlOutcome outcome = MakeRequest(ss.str(), Aws::Http::HttpMethod::HTTP_${operation.http.method}, Aws::Auth::SIGV4_SIGNER, "${operation.name}"${signerRegionOverride});
#end
  if(outcome.IsSuccess())
  {
#if(${operation.result})
#if($operation.result.shape.hasStreamMembers())
    return ${operation.name}Outcome(${operation.result.shape.name}(outcome.GetResultWithOwnership()));
#else
    return ${operation.name}Outcome(${operation.result.shape.name}(outcome.GetResult()));
#end
#else
    return ${operation.name}Outcome(NoResult());
#end
  }
  else
  {
    return ${operation.name}Outcome(outcome.GetError());
  }
}

${operation.name}OutcomeCallable ${className}::${operation.name}Callable() const
{
  auto task = Aws::MakeShared< std::packaged_task< ${operation.name}Outcome() > >(ALLOCATION_TAG, [this](){ return this->${operation.name}(); } );
  auto packagedFunction = [task]() { (*task)(); };
  m_executor->Submit(packagedFunction);
  return task->get_future();
}

void ${className}::${operation.name}Async(${constText}${operation.name}ResponseReceivedHandler& handler, const std::shared_ptr<const Aws::Client::AsyncCallerContext>& context) const
{
  m_executor->Submit( [this, handler, context](){ this->${operation.name}AsyncHelper( handler, context ); } );
}

void ${className}::${operation.name}AsyncHelper(${constText}${operation.name}ResponseReceivedHandler& handler, const std::shared_ptr<const Aws::Client::AsyncCallerContext>& context) const
{
  handler(this, ${operation.name}(), context);
}

#end
#end
