#parse("com/amazonaws/util/awsclientgenerator/velocity/cfamily/Attribution.vm")

#set($metadata = $serviceModel.metadata)
#set($rootNamespace = $serviceModel.namespace)
#set($serviceNamespace = $metadata.namespace)
\#include <aws/${metadata.projectName}/model/${operation.name}Handler.h>
\#include <aws/${metadata.projectName}/${metadata.classNamePrefix}ErrorMarshaller.h>
\#include <aws/core/client/CoreErrors.h>
\#include <aws/core/utils/event/EventStreamErrors.h>
\#include <aws/core/utils/logging/LogMacros.h>
\#include <aws/core/utils/xml/XmlSerializer.h>

using namespace ${rootNamespace}::${serviceNamespace}::Model;
using namespace Aws::Utils::Event;
using namespace Aws::Utils::Xml;

namespace ${rootNamespace}
{
namespace ${serviceNamespace}
{
namespace Model
{
    using namespace Aws::Client;

    static const char ${operation.name.toUpperCase()}_HANDLER_CLASS_TAG[] = "${operation.name}Handler";

    ${operation.name}Handler::${operation.name}Handler() : EventStreamHandler()
    {
#foreach($eventMemberEntry in $eventStreamShape.members.entrySet())
#set($eventShape = $eventMemberEntry.value.shape)
#if($eventShape.isException())
## skip exceptions
#else
#if(!${eventShape.members.isEmpty()})
        m_on${eventShape.name} = [&](const ${eventShape.name}&)
        {
            AWS_LOGSTREAM_TRACE(${operation.name.toUpperCase()}_HANDLER_CLASS_TAG, "${eventShape.name} received.");
        };
#else
        m_on${eventShape.name} = [&]()
        {
            AWS_LOGSTREAM_TRACE(${operation.name.toUpperCase()}_HANDLER_CLASS_TAG, "${eventShape.name} received.");
        };
#end

#end
#end
        m_onError = [&](const AWSError<${metadata.classNamePrefix}Errors>& error)
        {
            AWS_LOGSTREAM_TRACE(${operation.name.toUpperCase()}_HANDLER_CLASS_TAG, "${metadata.classNamePrefix} Errors received, " << error);
        };
    }

    void ${operation.name}Handler::OnEvent()
    {
        using namespace Aws::Utils::Event;

        // Handler internal error during event stream decoding.
        if (!*this)
        {
            AWSError<CoreErrors> error = EventStreamErrorsMapper::GetAwsErrorForEventStreamError(GetInternalError());
            error.SetMessage(GetEventPayloadAsString());
            m_onError(AWSError<${metadata.classNamePrefix}Errors>(error));
            return;
        }

        const auto& headers = GetEventHeaders();
        auto messageTypeHeaderIter = headers.find(MESSAGE_TYPE_HEADER);
        if (messageTypeHeaderIter == headers.end())
        {
            AWS_LOGSTREAM_WARN(${operation.name.toUpperCase()}_HANDLER_CLASS_TAG, "Header: " << MESSAGE_TYPE_HEADER << " not found in the message.");
            return;
        }

        switch (Message::GetMessageTypeForName(messageTypeHeaderIter->second.GetEventHeaderValueAsString()))
        {
        case Message::MessageType::EVENT:
            HandleEventInMessage();
            break;
        case Message::MessageType::REQUEST_LEVEL_ERROR:
        case Message::MessageType::REQUEST_LEVEL_EXCEPTION:
        {
            HandleErrorInMessage();
            break;
        }
        default:
            AWS_LOGSTREAM_WARN(${operation.name.toUpperCase()}_HANDLER_CLASS_TAG,
                "Unexpected message type: " << messageTypeHeaderIter->second.GetEventHeaderValueAsString());
            break;
        }
    }

    void ${operation.name}Handler::HandleEventInMessage()
    {
        const auto& headers = GetEventHeaders();
        auto eventTypeHeaderIter = headers.find(EVENT_TYPE_HEADER);
        if (eventTypeHeaderIter == headers.end())
        {
            AWS_LOGSTREAM_WARN(${operation.name.toUpperCase()}_HANDLER_CLASS_TAG, "Header: " << EVENT_TYPE_HEADER << " not found in the message.");
            return;
        }
        switch (${operation.name}EventMapper::Get${operation.name}EventTypeForName(eventTypeHeaderIter->second.GetEventHeaderValueAsString()))
        {
#foreach($eventMemberEntry in $eventStreamShape.members.entrySet())
#set($eventShape = $eventMemberEntry.value.shape)
#if($eventShape.isException())
## skip exceptions
#else
        case ${operation.name}EventType::${eventMemberEntry.key.toUpperCase()}:
        {
#if($eventShape.members.size() == 1)
#foreach($eventShapeMemberEntry in $eventShape.members.entrySet())
#set($onlyEventMemberKey = $eventShapeMemberEntry.key)
#set($onlyEventMember = $eventShapeMemberEntry.value.shape)
#end
#end
##the only member is blob member
#if($eventShape.members.size() == 1 && $onlyEventMember.isBlob())
            ${eventShape.name} event(GetEventPayloadWithOwnership());
            m_on${eventShape.name}(event);
            break;
##the only member is plain text
#elseif($eventShape.members.size() == 1 && $onlyEventMember.isString())
            ${eventShape.name} event;
            event.Set${onlyEventMemberKey}(GetEventHeaderValueAsString());
            m_on${eventShape.name}(event);
            break;
##multiple members or the only one member is structure
#elseif(!$eventShape.members.isEmpty())
            auto xmlDoc = XmlDocument::CreateFromXmlString(GetEventPayloadAsString());
            if (!xmlDoc.WasParseSuccessful())
            {
                AWS_LOGSTREAM_WARN(${operation.name.toUpperCase()}_HANDLER_CLASS_TAG, "Unable to generate a proper ${eventShape.name} object from the response in XML format.");
                break;
            }

            m_on${eventShape.name}(${eventShape.name}(xmlDoc.GetRootElement()));
            break;
#else
            m_on${eventShape.name}();
            break;
#end
        }
#end
#end
        default:
            AWS_LOGSTREAM_WARN(${operation.name.toUpperCase()}_HANDLER_CLASS_TAG,
                "Unexpected event type: " << eventTypeHeaderIter->second.GetEventHeaderValueAsString());
            break;
        }
    }

    void ${operation.name}Handler::HandleErrorInMessage()
    {
        const auto& headers = GetEventHeaders();
        Aws::String errorCode;
        Aws::String errorMessage;
        auto errorHeaderIter = headers.find(ERROR_CODE_HEADER);
        if (errorHeaderIter == headers.end())
        {
            errorHeaderIter = headers.find(EXCEPTION_TYPE_HEADER);
            if (errorHeaderIter == headers.end())
            {
                AWS_LOGSTREAM_WARN(${operation.name.toUpperCase()}_HANDLER_CLASS_TAG,
                        "Error type was not found in the event message.");
                return;
            }
        }

        errorCode = errorHeaderIter->second.GetEventHeaderValueAsString();
        errorHeaderIter = headers.find(ERROR_MESSAGE_HEADER);
        if (errorHeaderIter == headers.end())
        {
            errorHeaderIter = headers.find(EXCEPTION_TYPE_HEADER);
            if (errorHeaderIter == headers.end())
            {
                AWS_LOGSTREAM_WARN(${operation.name.toUpperCase()}_HANDLER_CLASS_TAG,
                        "Error description was not found in the event message.");
                return;
            }
        }
        errorMessage = errorHeaderIter->second.GetEventHeaderValueAsString();
        MarshallError(errorCode, errorMessage);
    }

    void ${operation.name}Handler::MarshallError(const Aws::String& errorCode, const Aws::String& errorMessage)
    {
        ${metadata.classNamePrefix}ErrorMarshaller errorMarshaller;
        AWSError<CoreErrors> error;

        if (errorCode.empty())
        {
            error = AWSError<CoreErrors>(CoreErrors::UNKNOWN, "", errorMessage, false);
        }
        else
        {
            error = errorMarshaller.FindErrorByName(errorMessage.c_str());
            if (error.GetErrorType() != CoreErrors::UNKNOWN)
            {
                AWS_LOGSTREAM_WARN(${operation.name.toUpperCase()}_HANDLER_CLASS_TAG, "Encountered AWSError '" << errorCode.c_str() << "': " << errorMessage.c_str());
                error.SetExceptionName(errorCode);
                error.SetMessage(errorMessage);
            }
            else
            {
                AWS_LOGSTREAM_WARN(${operation.name.toUpperCase()}_HANDLER_CLASS_TAG, "Encountered Unknown AWSError '" << errorCode.c_str() << "': " << errorMessage.c_str());
                error = AWSError<CoreErrors>(CoreErrors::UNKNOWN, errorCode, "Unable to parse ExceptionName: " + errorCode + " Message: " + errorMessage, false);
            }
        }

        m_onError(AWSError<${metadata.classNamePrefix}Errors>(error));
    }

namespace ${operation.name}EventMapper
{
#foreach($eventMemberEntry in $eventStreamShape.members.entrySet())
#if(!$eventMemberEntry.value.shape.isException())
#set($memberKey = $eventMemberEntry.key)
    static const int ${memberKey.toUpperCase()}_HASH = Aws::Utils::HashingUtils::HashString("${memberKey}");
#end
#end

    ${operation.name}EventType Get${operation.name}EventTypeForName(const Aws::String& name)
    {
        int hashCode = Aws::Utils::HashingUtils::HashString(name.c_str());
#set($elseText = "")
#foreach($eventMemberEntry in $eventStreamShape.members.entrySet())
#if(!$eventMemberEntry.value.shape.isException())
#set($memberKeyUpperCase = $eventMemberEntry.key.toUpperCase())
        ${elseText}if (hashCode == ${memberKeyUpperCase}_HASH)
        {
            return ${operation.name}EventType::${memberKeyUpperCase};
        }
#set($elseText = "else ")
#end
#end
        return ${operation.name}EventType::UNKNOWN;
    }

    Aws::String GetNameFor${operation.name}EventType(${operation.name}EventType value)
    {
        switch (value)
        {
#foreach($eventMemberEntry in $eventStreamShape.members.entrySet())
#if(!$eventMemberEntry.value.shape.isException())
#set($memberKey = $eventMemberEntry.key)
        case ${operation.name}EventType::${memberKey.toUpperCase()}:
            return "${memberKey}";
#end
#end
        default:
            return "Unknown";
        }
    }
} // namespace ${operation.name}EventMapper
} // namespace Model
} // namespace ${serviceNamespace}
} // namespace ${rootNamespace}
