{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
<<<<<<< HEAD
        "com.amazonaws.s3#AbortDate": {
            "type": "timestamp"
        },
        "com.amazonaws.s3#AbortIncompleteMultipartUpload": {
            "type": "structure",
            "members": {
                "DaysAfterInitiation": {
                    "target": "com.amazonaws.s3#DaysAfterInitiation",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the number of days after which Amazon S3 aborts an incomplete multipart\n         upload.</p>"
=======
        "com.amazonaws.sesv2#AccountDetails": {
            "type": "structure",
            "members": {
                "MailType": {
                    "target": "com.amazonaws.sesv2#MailType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of email your account is sending. The mail type can be one of the\n            following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>MARKETING</code> – Most of your sending traffic is to keep your\n                    customers informed of your latest offering.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TRANSACTIONAL</code> – Most of your sending traffic is to\n                    communicate during a transaction with a customer.</p>\n            </li>\n         </ul>"
                    }
                },
                "WebsiteURL": {
                    "target": "com.amazonaws.sesv2#WebsiteURL",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL of your website. This information helps us better understand the type of\n            content that you plan to send.</p>"
                    }
                },
                "ContactLanguage": {
                    "target": "com.amazonaws.sesv2#ContactLanguage",
                    "traits": {
                        "smithy.api#documentation": "<p>The language you would prefer for the case. The contact language can be one of\n                <code>ENGLISH</code> or <code>JAPANESE</code>.</p>"
                    }
                },
                "UseCaseDescription": {
                    "target": "com.amazonaws.sesv2#UseCaseDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the types of email that you plan to send.</p>"
                    }
                },
                "AdditionalContactEmailAddresses": {
                    "target": "com.amazonaws.sesv2#AdditionalContactEmailAddresses",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional email addresses where updates are sent about your account review\n            process.</p>"
                    }
                },
                "ReviewDetails": {
                    "target": "com.amazonaws.sesv2#ReviewDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the review of the latest details you submitted.</p>"
>>>>>>> aea7020b19c (This release launches the CreateIntegration, DeleteIntegration, DescribeIntegrations and ModifyIntegration APIs to create and manage Amazon Redshift Zero-ETL Integrations.)
                    }
                }
            },
            "traits": {
<<<<<<< HEAD
                "smithy.api#documentation": "<p>Specifies the days since the initiation of an incomplete multipart upload that Amazon S3 will\n         wait before permanently removing all parts of the upload. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html#mpu-abort-incomplete-mpu-lifecycle-config\">\n            Aborting Incomplete Multipart Uploads Using a Bucket Lifecycle Configuration</a> in\n         the <i>Amazon S3 User Guide</i>.</p>"
            }
        },
        "com.amazonaws.s3#AbortMultipartUpload": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.s3#AbortMultipartUploadRequest"
            },
            "output": {
                "target": "com.amazonaws.s3#AbortMultipartUploadOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.s3#NoSuchUpload"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>This operation aborts a multipart upload. After a multipart upload is aborted, no\n         additional parts can be uploaded using that upload ID. The storage consumed by any\n         previously uploaded parts will be freed. However, if any part uploads are currently in\n         progress, those part uploads might or might not succeed. As a result, it might be necessary\n         to abort a given multipart upload multiple times in order to completely free all storage\n         consumed by all parts. </p>\n         <p>To verify that all parts have been removed and prevent getting charged for the part\n         storage, you should call the <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListParts.html\">ListParts</a> API operation and ensure that\n         the parts list is empty.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>\n                     <b>Directory buckets</b> - \n                  If multipart uploads in a directory bucket are in progress, you can't delete the bucket until all the in-progress multipart uploads are aborted or completed. \n                  To delete these in-progress multipart uploads, use the\n               <code>ListMultipartUploads</code> operation to list the in-progress multipart\n               uploads in the bucket and use the <code>AbortMultupartUpload</code> operation to\n               abort all the in-progress multipart uploads.\n               </p>\n               </li>\n               <li>\n                  <p>\n                     <b>Directory buckets</b> -  For directory buckets, you must make requests for this API operation to the Zonal endpoint. These endpoints support virtual-hosted-style requests in the format <code>https://<i>bucket_name</i>.s3express-<i>az_id</i>.<i>region</i>.amazonaws.com/<i>key-name</i>\n                     </code>. Path-style requests are not supported. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-express-Regions-and-Zones.html\">Regional and Zonal endpoints</a> in the\n    <i>Amazon S3 User Guide</i>.</p>\n               </li>\n            </ul>\n         </note>\n         <dl>\n            <dt>Permissions</dt>\n            <dd>\n               <ul>\n                  <li>\n                     <p>\n                        <b>General purpose bucket permissions</b> - For information about permissions required to use the multipart upload, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuAndPermissions.html\">Multipart Upload\n                        and Permissions</a> in the <i>Amazon S3\n                           User Guide</i>.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Directory bucket permissions</b> - To grant access to this API operation on a directory bucket, we recommend that you use the <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateSession.html\">\n                           <code>CreateSession</code>\n                        </a> API operation for session-based authorization. Specifically, you grant the <code>s3express:CreateSession</code> permission to the directory bucket in a bucket policy or an IAM identity-based policy. Then, you make the <code>CreateSession</code> API call on the bucket to obtain a session token. With the session token in your request header, you can make API requests to this operation. After the session token expires, you make another <code>CreateSession</code> API call to generate a new session token for use. \nAmazon Web Services CLI or SDKs create session and refresh the session token automatically to avoid service interruptions when a session expires. For more information about authorization, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateSession.html\">\n                           <code>CreateSession</code>\n                        </a>.</p>\n                  </li>\n               </ul>\n            </dd>\n            <dt>HTTP Host header syntax</dt>\n            <dd>\n               <p>\n                  <b>Directory buckets </b> - The HTTP Host header syntax is <code>\n                     <i>Bucket_name</i>.s3express-<i>az_id</i>.<i>region</i>.amazonaws.com</code>.</p>\n            </dd>\n         </dl>\n         <p>The following operations are related to <code>AbortMultipartUpload</code>:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateMultipartUpload.html\">CreateMultipartUpload</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_UploadPart.html\">UploadPart</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_CompleteMultipartUpload.html\">CompleteMultipartUpload</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListParts.html\">ListParts</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListMultipartUploads.html\">ListMultipartUploads</a>\n               </p>\n            </li>\n         </ul>",
                "smithy.api#examples": [
                    {
                        "title": "To abort a multipart upload",
                        "documentation": "The following example aborts a multipart upload.",
                        "input": {
                            "Bucket": "examplebucket",
                            "Key": "bigobject",
                            "UploadId": "xadcOB_7YPBOJuoFiQ9cz4P3Pe6FIZwO4f7wN93uHsNBEw97pl5eNwzExg0LAT2dUN91cOmrEQHDsP3WA60CEg--"
                        },
                        "output": {}
=======
                "smithy.api#documentation": "<p>An object that contains information about your account details.</p>"
            }
        },
        "com.amazonaws.sesv2#AccountSuspendedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.sesv2#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The message can't be sent because the account's ability to send email has been\n            permanently restricted.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.sesv2#AdditionalContactEmailAddress": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 6,
                    "max": 254
                },
                "smithy.api#pattern": "^(.+)@(.+)$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.sesv2#AdditionalContactEmailAddresses": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sesv2#AdditionalContactEmailAddress"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 4
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.sesv2#AdminEmail": {
            "type": "string"
        },
        "com.amazonaws.sesv2#AlreadyExistsException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.sesv2#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The resource specified in your request already exists.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.sesv2#AmazonResourceName": {
            "type": "string"
        },
        "com.amazonaws.sesv2#AttributesData": {
            "type": "string"
        },
        "com.amazonaws.sesv2#BadRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.sesv2#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The input you provided is invalid.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.sesv2#BatchGetMetricData": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sesv2#BatchGetMetricDataRequest"
            },
            "output": {
                "target": "com.amazonaws.sesv2#BatchGetMetricDataResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sesv2#BadRequestException"
                },
                {
                    "target": "com.amazonaws.sesv2#InternalServiceErrorException"
                },
                {
                    "target": "com.amazonaws.sesv2#NotFoundException"
                },
                {
                    "target": "com.amazonaws.sesv2#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves batches of metric data collected based on your sending activity.</p>\n         <p>You can execute this operation no more than 16 times per second,\n            and with at most 160 queries from the batches per second (cumulative).</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v2/email/metrics/batch",
                    "code": 200
                }
            }
        },
        "com.amazonaws.sesv2#BatchGetMetricDataQueries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sesv2#BatchGetMetricDataQuery"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.sesv2#BatchGetMetricDataQuery": {
            "type": "structure",
            "members": {
                "Id": {
                    "target": "com.amazonaws.sesv2#QueryIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The query identifier.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Namespace": {
                    "target": "com.amazonaws.sesv2#MetricNamespace",
                    "traits": {
                        "smithy.api#documentation": "<p>The query namespace - e.g. <code>VDM</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                },
                "Metric": {
                    "target": "com.amazonaws.sesv2#Metric",
                    "traits": {
                        "smithy.api#documentation": "<p>The queried metric. This can be one of the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SEND</code> – Emails sent eligible for tracking\n                    in the VDM dashboard. This excludes emails sent to the mailbox simulator and emails\n                    addressed to more than one recipient.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLAINT</code> – Complaints received for your\n                    account. This excludes complaints from the mailbox simulator, those originating from\n                    your account-level suppression list (if enabled), and those for emails addressed to more\n                    than one recipient</p>\n            </li>\n            <li>\n               <p>\n                  <code>PERMANENT_BOUNCE</code> – Permanent bounces - i.e. feedback received for\n                    emails sent to non-existent mailboxes. Excludes bounces from the mailbox simulator, those\n                    originating from your account-level suppression list (if enabled), and those for emails\n                    addressed to more than one recipient.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TRANSIENT_BOUNCE</code> – Transient bounces - i.e. feedback received for\n                    delivery failures excluding issues with non-existent mailboxes. Excludes bounces from the\n                    mailbox simulator, and those for emails addressed to more than one recipient.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OPEN</code> – Unique open events for emails including open trackers.\n                    Excludes opens for emails addressed to more than one recipient.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CLICK</code> – Unique click events for emails including wrapped links.\n                    Excludes clicks for emails addressed to more than one recipient.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELIVERY</code> – Successful deliveries for email sending attempts.\n                    Excludes deliveries to the mailbox simulator and for emails addressed to more\n                    than one recipient.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELIVERY_OPEN</code> – Successful deliveries for email sending attempts.\n                    Excludes deliveries to the mailbox simulator, for emails addressed to more than one recipient,\n                    and emails without open trackers.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELIVERY_CLICK</code> – Successful deliveries for email sending attempts.\n                    Excludes deliveries to the mailbox simulator, for emails addressed to more than one recipient,\n                    and emails without click trackers.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELIVERY_COMPLAINT</code> – Successful deliveries for email sending attempts.\n                    Excludes deliveries to the mailbox simulator, for emails addressed to more than one recipient,\n                    and emails addressed to recipients hosted by ISPs with which Amazon SES does not have a\n                    feedback loop agreement.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "Dimensions": {
                    "target": "com.amazonaws.sesv2#Dimensions",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains mapping between <code>MetricDimensionName</code>\n            and <code>MetricDimensionValue</code> to filter metrics by.</p>"
                    }
                },
                "StartDate": {
                    "target": "com.amazonaws.sesv2#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents the start date for the query interval.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EndDate": {
                    "target": "com.amazonaws.sesv2#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents the end date for the query interval.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents a single metric data query to include in a batch.</p>"
            }
        },
        "com.amazonaws.sesv2#BatchGetMetricDataRequest": {
            "type": "structure",
            "members": {
                "Queries": {
                    "target": "com.amazonaws.sesv2#BatchGetMetricDataQueries",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of queries for metrics to be retrieved.</p>",
                        "smithy.api#required": {}
>>>>>>> aea7020b19c (This release launches the CreateIntegration, DeleteIntegration, DescribeIntegrations and ModifyIntegration APIs to create and manage Amazon Redshift Zero-ETL Integrations.)
                    }
                ],
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/{Bucket}/{Key+}?x-id=AbortMultipartUpload",
                    "code": 204
                }
<<<<<<< HEAD
            }
        },
        "com.amazonaws.s3#AbortMultipartUploadOutput": {
            "type": "structure",
            "members": {
                "RequestCharged": {
                    "target": "com.amazonaws.s3#RequestCharged",
                    "traits": {
                        "smithy.api#httpHeader": "x-amz-request-charged"
=======
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents a request to retrieve a batch of metric data.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sesv2#BatchGetMetricDataResponse": {
            "type": "structure",
            "members": {
                "Results": {
                    "target": "com.amazonaws.sesv2#MetricDataResultList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of successfully retrieved <code>MetricDataResult</code>.</p>"
                    }
                },
                "Errors": {
                    "target": "com.amazonaws.sesv2#MetricDataErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>MetricDataError</code> encountered while processing your metric data batch request.</p>"
>>>>>>> aea7020b19c (This release launches the CreateIntegration, DeleteIntegration, DescribeIntegrations and ModifyIntegration APIs to create and manage Amazon Redshift Zero-ETL Integrations.)
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the result of processing your metric data batch request</p>",
                "smithy.api#output": {}
            }
        },
<<<<<<< HEAD
        "com.amazonaws.s3#AbortMultipartUploadRequest": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "target": "com.amazonaws.s3#BucketName",
                    "traits": {
                        "smithy.api#documentation": "<p>The bucket name to which the upload was taking place. </p>\n         <p>\n            <b>Directory buckets</b> - When you use this operation with a directory bucket, you must use virtual-hosted-style requests in the format <code>\n               <i>Bucket_name</i>.s3express-<i>az_id</i>.<i>region</i>.amazonaws.com</code>. Path-style requests are not supported.  Directory bucket names must be unique in the chosen Availability Zone. Bucket names must follow the format <code>\n               <i>bucket_base_name</i>--<i>az-id</i>--x-s3</code> (for example, <code>\n               <i>DOC-EXAMPLE-BUCKET</i>--<i>usw2-az1</i>--x-s3</code>). For information about bucket naming\n         restrictions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/directory-bucket-naming-rules.html\">Directory bucket naming\n            rules</a> in the <i>Amazon S3 User Guide</i>.</p>\n         <p>\n            <b>Access points</b> - When you use this action with an access point, you must provide the alias of the access point in place of the bucket name or specify the access point ARN. When using the access point ARN, you must direct requests to the access point hostname. The access point hostname takes the form <i>AccessPointName</i>-<i>AccountId</i>.s3-accesspoint.<i>Region</i>.amazonaws.com. When using this action with an access point through the Amazon Web Services SDKs, you provide the access point ARN in place of the bucket name. For more information about access point ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/using-access-points.html\">Using access points</a> in the <i>Amazon S3 User Guide</i>.</p>\n         <note>\n            <p>Access points and Object Lambda access points are not supported by directory buckets.</p>\n         </note>\n         <p>\n            <b>S3 on Outposts</b> - When you use this action with Amazon S3 on Outposts, you must direct requests to the S3 on Outposts hostname. The S3 on Outposts hostname takes the form <code>\n               <i>AccessPointName</i>-<i>AccountId</i>.<i>outpostID</i>.s3-outposts.<i>Region</i>.amazonaws.com</code>. When you use this action with S3 on Outposts through the Amazon Web Services SDKs, you provide the Outposts access point ARN in place of the bucket name. For more information about S3 on Outposts ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/S3onOutposts.html\">What is S3 on Outposts?</a> in the <i>Amazon S3 User Guide</i>.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.rules#contextParam": {
                            "name": "Bucket"
                        }
                    }
                },
                "Key": {
                    "target": "com.amazonaws.s3#ObjectKey",
                    "traits": {
                        "smithy.api#documentation": "<p>Key of the object for which the multipart upload was initiated.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.rules#contextParam": {
                            "name": "Key"
                        }
                    }
                },
                "UploadId": {
                    "target": "com.amazonaws.s3#MultipartUploadId",
                    "traits": {
                        "smithy.api#documentation": "<p>Upload ID that identifies the multipart upload.</p>",
                        "smithy.api#httpQuery": "uploadId",
                        "smithy.api#required": {}
                    }
                },
                "RequestPayer": {
                    "target": "com.amazonaws.s3#RequestPayer",
                    "traits": {
                        "smithy.api#httpHeader": "x-amz-request-payer"
                    }
                },
                "ExpectedBucketOwner": {
                    "target": "com.amazonaws.s3#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The account ID of the expected bucket owner. If the account ID that you provide does not match the actual owner of the bucket, the request fails with the HTTP status code <code>403 Forbidden</code> (access denied).</p>",
                        "smithy.api#httpHeader": "x-amz-expected-bucket-owner"
=======
        "com.amazonaws.sesv2#BehaviorOnMxFailure": {
            "type": "enum",
            "members": {
                "USE_DEFAULT_VALUE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USE_DEFAULT_VALUE"
                    }
                },
                "REJECT_MESSAGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REJECT_MESSAGE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The action to take if the required MX record can't be found when you send an email.\n            When you set this value to <code>UseDefaultValue</code>, the mail is sent using\n                <i>amazonses.com</i> as the MAIL FROM domain. When you set this value\n            to <code>RejectMessage</code>, the Amazon SES API v2 returns a\n                <code>MailFromDomainNotVerified</code> error, and doesn't attempt to deliver the\n            email.</p>\n         <p>These behaviors are taken when the custom MAIL FROM domain configuration is in the\n                <code>Pending</code>, <code>Failed</code>, and <code>TemporaryFailure</code>\n            states.</p>"
            }
        },
        "com.amazonaws.sesv2#BlacklistEntries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sesv2#BlacklistEntry"
            }
        },
        "com.amazonaws.sesv2#BlacklistEntry": {
            "type": "structure",
            "members": {
                "RblName": {
                    "target": "com.amazonaws.sesv2#RblName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the blacklist that the IP address appears on.</p>"
                    }
                },
                "ListingTime": {
                    "target": "com.amazonaws.sesv2#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the blacklisting event occurred.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.sesv2#BlacklistingDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the blacklisting event, as provided by the blacklist\n            maintainer.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that contains information about a blacklisting event that impacts one of the\n            dedicated IP addresses that is associated with your account.</p>"
            }
        },
        "com.amazonaws.sesv2#BlacklistItemName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>An IP address that you want to obtain blacklist information for.</p>"
            }
        },
        "com.amazonaws.sesv2#BlacklistItemNames": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sesv2#BlacklistItemName"
            }
        },
        "com.amazonaws.sesv2#BlacklistReport": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.sesv2#BlacklistItemName"
            },
            "value": {
                "target": "com.amazonaws.sesv2#BlacklistEntries"
            }
        },
        "com.amazonaws.sesv2#BlacklistingDescription": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>A description of the blacklisting event.</p>"
            }
        },
        "com.amazonaws.sesv2#Body": {
            "type": "structure",
            "members": {
                "Text": {
                    "target": "com.amazonaws.sesv2#Content",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that represents the version of the message that is displayed in email\n            clients that don't support HTML, or clients where the recipient has disabled HTML\n            rendering.</p>"
                    }
                },
                "Html": {
                    "target": "com.amazonaws.sesv2#Content",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that represents the version of the message that is displayed in email\n            clients that support HTML. HTML messages can include formatted text, hyperlinks, images,\n            and more. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the body of the email message.</p>"
            }
        },
        "com.amazonaws.sesv2#Bounce": {
            "type": "structure",
            "members": {
                "BounceType": {
                    "target": "com.amazonaws.sesv2#BounceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the bounce, as determined by SES.\n            Can be one of <code>UNDETERMINED</code>, <code>TRANSIENT</code>, or <code>PERMANENT</code>\n         </p>"
                    }
                },
                "BounceSubType": {
                    "target": "com.amazonaws.sesv2#BounceSubType",
                    "traits": {
                        "smithy.api#documentation": "<p>The subtype of the bounce, as determined by SES.</p>"
                    }
                },
                "DiagnosticCode": {
                    "target": "com.amazonaws.sesv2#DiagnosticCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The status code issued by the reporting Message Transfer Authority (MTA).\n            This field only appears if a delivery status notification (DSN) was attached to the bounce\n            and the <code>Diagnostic-Code</code> was provided in the DSN.\n        </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a <code>Bounce</code> event.</p>"
            }
        },
        "com.amazonaws.sesv2#BounceSubType": {
            "type": "string"
        },
        "com.amazonaws.sesv2#BounceType": {
            "type": "enum",
            "members": {
                "UNDETERMINED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNDETERMINED"
                    }
                },
                "TRANSIENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TRANSIENT"
                    }
                },
                "PERMANENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PERMANENT"
                    }
                }
            }
        },
        "com.amazonaws.sesv2#BulkEmailContent": {
            "type": "structure",
            "members": {
                "Template": {
                    "target": "com.amazonaws.sesv2#Template",
                    "traits": {
                        "smithy.api#documentation": "<p>The template to use for the bulk email message.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that contains the body of the message. You can specify a template\n            message.</p>"
            }
        },
        "com.amazonaws.sesv2#BulkEmailEntry": {
            "type": "structure",
            "members": {
                "Destination": {
                    "target": "com.amazonaws.sesv2#Destination",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents the destination of the message, consisting of To:, CC:, and BCC:\n            fields.</p>\n         <note>\n            <p>Amazon SES does not support the SMTPUTF8 extension, as described in <a href=\"https://tools.ietf.org/html/rfc6531\">RFC6531</a>. For this reason, the\n                local part of a destination email address (the part of the email address that\n                precedes the @ sign) may only contain <a href=\"https://en.wikipedia.org/wiki/Email_address#Local-part\">7-bit ASCII\n                    characters</a>. If the domain part of an address (the part after the @ sign)\n                contains non-ASCII characters, they must be encoded using Punycode, as described in\n                    <a href=\"https://tools.ietf.org/html/rfc3492.html\">RFC3492</a>.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                },
                "ReplacementTags": {
                    "target": "com.amazonaws.sesv2#MessageTagList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of tags, in the form of name/value pairs, to apply to an email that you send\n            using the <code>SendBulkTemplatedEmail</code> operation. Tags correspond to\n            characteristics of the email that you define, so that you can publish email sending\n            events.</p>"
                    }
                },
                "ReplacementEmailContent": {
                    "target": "com.amazonaws.sesv2#ReplacementEmailContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>ReplacementEmailContent</code> associated with a\n            <code>BulkEmailEntry</code>.</p>"
                    }
                },
                "ReplacementHeaders": {
                    "target": "com.amazonaws.sesv2#MessageHeaderList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of message headers associated with the <code>BulkEmailEntry</code> data type.</p>\n         <ul>\n            <li>\n               <p>Headers Not Present in <code>BulkEmailEntry</code>: If a header is specified in\n                    <a href=\"https://docs.aws.amazon.com/ses/latest/APIReference-V2/API_Template.html\">\n                     <code>Template</code>\n                  </a> but not in <code>BulkEmailEntry</code>, the header\n                    from <code>Template</code> will be added to the outgoing email.</p>\n            </li>\n            <li>\n               <p>Headers Present in <code>BulkEmailEntry</code>: If a header is specified in\n                    <code>BulkEmailEntry</code>, it takes precedence over any header of the same name specified\n                    in <a href=\"https://docs.aws.amazon.com/ses/latest/APIReference-V2/API_Template.html\">\n                     <code>Template</code>\n                  </a>:</p>\n               <ul>\n                  <li>\n                     <p>If the header is also defined within <code>Template</code>,\n                            the value from <code>BulkEmailEntry</code> will replace the header's\n                            value in the email.</p>\n                  </li>\n                  <li>\n                     <p>If the header is not defined within <code>Template</code>,\n                            it will simply be added to the email as specified in\n                            <code>BulkEmailEntry</code>.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
                    }
                }
            }
        },
        "com.amazonaws.sesv2#BulkEmailEntryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sesv2#BulkEmailEntry"
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of <code>BulkEmailEntry</code> objects.</p>"
            }
        },
        "com.amazonaws.sesv2#BulkEmailEntryResult": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.sesv2#BulkEmailStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of a message sent using the <code>SendBulkTemplatedEmail</code>\n            operation.</p>\n         <p>Possible values for this parameter include:</p>\n         <ul>\n            <li>\n               <p>SUCCESS: Amazon SES accepted the message, and will attempt to deliver it to\n                    the recipients.</p>\n            </li>\n            <li>\n               <p>MESSAGE_REJECTED: The message was rejected because it contained a\n                    virus.</p>\n            </li>\n            <li>\n               <p>MAIL_FROM_DOMAIN_NOT_VERIFIED: The sender's email address or domain was not\n                    verified.</p>\n            </li>\n            <li>\n               <p>CONFIGURATION_SET_DOES_NOT_EXIST: The configuration set you specified does not\n                    exist.</p>\n            </li>\n            <li>\n               <p>TEMPLATE_DOES_NOT_EXIST: The template you specified does not exist.</p>\n            </li>\n            <li>\n               <p>ACCOUNT_SUSPENDED: Your account has been shut down because of issues related\n                    to your email sending practices.</p>\n            </li>\n            <li>\n               <p>ACCOUNT_THROTTLED: The number of emails you can send has been reduced because\n                    your account has exceeded its allocated sending limit.</p>\n            </li>\n            <li>\n               <p>ACCOUNT_DAILY_QUOTA_EXCEEDED: You have reached or exceeded the maximum number\n                    of emails you can send from your account in a 24-hour period.</p>\n            </li>\n            <li>\n               <p>INVALID_SENDING_POOL_NAME: The configuration set you specified refers to an IP\n                    pool that does not exist.</p>\n            </li>\n            <li>\n               <p>ACCOUNT_SENDING_PAUSED: Email sending for the Amazon SES account was disabled\n                    using the <a href=\"https://docs.aws.amazon.com/ses/latest/APIReference/API_UpdateAccountSendingEnabled.html\">UpdateAccountSendingEnabled</a> operation.</p>\n            </li>\n            <li>\n               <p>CONFIGURATION_SET_SENDING_PAUSED: Email sending for this configuration set was\n                    disabled using the <a href=\"https://docs.aws.amazon.com/ses/latest/APIReference/API_UpdateConfigurationSetSendingEnabled.html\">UpdateConfigurationSetSendingEnabled</a> operation.</p>\n            </li>\n            <li>\n               <p>INVALID_PARAMETER_VALUE: One or more of the parameters you specified when\n                    calling this operation was invalid. See the error message for additional\n                    information.</p>\n            </li>\n            <li>\n               <p>TRANSIENT_FAILURE: Amazon SES was unable to process your request because of a\n                    temporary issue.</p>\n            </li>\n            <li>\n               <p>FAILED: Amazon SES was unable to process your request. See the error message\n                    for additional information.</p>\n            </li>\n         </ul>"
                    }
                },
                "Error": {
                    "target": "com.amazonaws.sesv2#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of an error that prevented a message being sent using the\n                <code>SendBulkTemplatedEmail</code> operation.</p>"
                    }
                },
                "MessageId": {
                    "target": "com.amazonaws.sesv2#OutboundMessageId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique message identifier returned from the <code>SendBulkTemplatedEmail</code>\n            operation.</p>"
>>>>>>> aea7020b19c (This release launches the CreateIntegration, DeleteIntegration, DescribeIntegrations and ModifyIntegration APIs to create and manage Amazon Redshift Zero-ETL Integrations.)
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The result of the <code>SendBulkEmail</code> operation of each specified\n                <code>BulkEmailEntry</code>.</p>"
            }
        },
<<<<<<< HEAD
        "com.amazonaws.s3#AbortRuleId": {
            "type": "string"
        },
        "com.amazonaws.s3#AccelerateConfiguration": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.s3#BucketAccelerateStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the transfer acceleration status of the bucket.</p>"
=======
        "com.amazonaws.sesv2#BulkEmailEntryResultList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sesv2#BulkEmailEntryResult"
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of <code>BulkMailEntry</code> objects.</p>"
            }
        },
        "com.amazonaws.sesv2#BulkEmailStatus": {
            "type": "enum",
            "members": {
                "SUCCESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUCCESS"
                    }
                },
                "MESSAGE_REJECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MESSAGE_REJECTED"
                    }
                },
                "MAIL_FROM_DOMAIN_NOT_VERIFIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MAIL_FROM_DOMAIN_NOT_VERIFIED"
                    }
                },
                "CONFIGURATION_SET_NOT_FOUND": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONFIGURATION_SET_NOT_FOUND"
                    }
                },
                "TEMPLATE_NOT_FOUND": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TEMPLATE_NOT_FOUND"
                    }
                },
                "ACCOUNT_SUSPENDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACCOUNT_SUSPENDED"
                    }
                },
                "ACCOUNT_THROTTLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACCOUNT_THROTTLED"
                    }
                },
                "ACCOUNT_DAILY_QUOTA_EXCEEDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACCOUNT_DAILY_QUOTA_EXCEEDED"
                    }
                },
                "INVALID_SENDING_POOL_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INVALID_SENDING_POOL_NAME"
                    }
                },
                "ACCOUNT_SENDING_PAUSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACCOUNT_SENDING_PAUSED"
                    }
                },
                "CONFIGURATION_SET_SENDING_PAUSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONFIGURATION_SET_SENDING_PAUSED"
                    }
                },
                "INVALID_PARAMETER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INVALID_PARAMETER"
                    }
                },
                "TRANSIENT_FAILURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TRANSIENT_FAILURE"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.sesv2#CampaignId": {
            "type": "string"
        },
        "com.amazonaws.sesv2#CancelExportJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sesv2#CancelExportJobRequest"
            },
            "output": {
                "target": "com.amazonaws.sesv2#CancelExportJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sesv2#BadRequestException"
                },
                {
                    "target": "com.amazonaws.sesv2#NotFoundException"
                },
                {
                    "target": "com.amazonaws.sesv2#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels an export job.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Cancel export job",
                        "documentation": "Cancels the export job with ID ef28cf62-9d8e-4b60-9283-b09816c99a99",
                        "input": {
                            "JobId": "ef28cf62-9d8e-4b60-9283-b09816c99a99"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/v2/email/export-jobs/{JobId}/cancel",
                    "code": 200
                }
            }
        },
        "com.amazonaws.sesv2#CancelExportJobRequest": {
            "type": "structure",
            "members": {
                "JobId": {
                    "target": "com.amazonaws.sesv2#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The export job ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
>>>>>>> aea7020b19c (This release launches the CreateIntegration, DeleteIntegration, DescribeIntegrations and ModifyIntegration APIs to create and manage Amazon Redshift Zero-ETL Integrations.)
                    }
                }
            },
            "traits": {
<<<<<<< HEAD
                "smithy.api#documentation": "<p>Configures the transfer acceleration state for an Amazon S3 bucket. For more information, see\n            <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/transfer-acceleration.html\">Amazon S3\n            Transfer Acceleration</a> in the <i>Amazon S3 User Guide</i>.</p>"
            }
        },
        "com.amazonaws.s3#AcceptRanges": {
            "type": "string"
        },
        "com.amazonaws.s3#AccessControlPolicy": {
            "type": "structure",
            "members": {
                "Grants": {
                    "target": "com.amazonaws.s3#Grants",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of grants.</p>",
                        "smithy.api#xmlName": "AccessControlList"
                    }
                },
                "Owner": {
                    "target": "com.amazonaws.s3#Owner",
                    "traits": {
                        "smithy.api#documentation": "<p>Container for the bucket owner's display name and ID.</p>"
=======
                "smithy.api#documentation": "<p>Represents a request to cancel an export job using the export job ID.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sesv2#CancelExportJobResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.sesv2#CaseId": {
            "type": "string"
        },
        "com.amazonaws.sesv2#Charset": {
            "type": "string"
        },
        "com.amazonaws.sesv2#CloudWatchDestination": {
            "type": "structure",
            "members": {
                "DimensionConfigurations": {
                    "target": "com.amazonaws.sesv2#CloudWatchDimensionConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that define the dimensions to use when you send email events to\n            Amazon CloudWatch.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that defines an Amazon CloudWatch destination for email events. You can use Amazon CloudWatch to\n            monitor and gain insights on your email sending metrics.</p>"
            }
        },
        "com.amazonaws.sesv2#CloudWatchDimensionConfiguration": {
            "type": "structure",
            "members": {
                "DimensionName": {
                    "target": "com.amazonaws.sesv2#DimensionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of an Amazon CloudWatch dimension associated with an email sending metric. The name has to\n            meet the following criteria:</p>\n         <ul>\n            <li>\n               <p>It can only contain ASCII letters (a–z, A–Z), numbers (0–9),\n                    underscores (_), or dashes (-).</p>\n            </li>\n            <li>\n               <p>It can contain no more than 256 characters.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "DimensionValueSource": {
                    "target": "com.amazonaws.sesv2#DimensionValueSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The location where the Amazon SES API v2 finds the value of a dimension to publish to Amazon CloudWatch. To\n            use the message tags that you specify using an <code>X-SES-MESSAGE-TAGS</code> header or\n            a parameter to the <code>SendEmail</code> or <code>SendRawEmail</code> API, choose\n                <code>messageTag</code>. To use your own email headers, choose\n                <code>emailHeader</code>. To use link tags, choose <code>linkTags</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DefaultDimensionValue": {
                    "target": "com.amazonaws.sesv2#DefaultDimensionValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The default value of the dimension that is published to Amazon CloudWatch if you don't provide the\n            value of the dimension when you send an email. This value has to meet the following\n            criteria:</p>\n         <ul>\n            <li>\n               <p>Can only contain ASCII letters (a–z, A–Z), numbers (0–9),\n                    underscores (_), or dashes (-), at signs (@), and periods (.).</p>\n            </li>\n            <li>\n               <p>It can contain no more than 256 characters.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that defines the dimension configuration to use when you send email events\n            to Amazon CloudWatch.</p>"
            }
        },
        "com.amazonaws.sesv2#CloudWatchDimensionConfigurations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sesv2#CloudWatchDimensionConfiguration"
            }
        },
        "com.amazonaws.sesv2#Complaint": {
            "type": "structure",
            "members": {
                "ComplaintSubType": {
                    "target": "com.amazonaws.sesv2#ComplaintSubType",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            Can either be <code>null</code> or <code>OnAccountSuppressionList</code>.\n            If the value is <code>OnAccountSuppressionList</code>, SES accepted the message,\n            but didn't attempt to send it because it was on the account-level suppression list.\n        </p>"
                    }
                },
                "ComplaintFeedbackType": {
                    "target": "com.amazonaws.sesv2#ComplaintFeedbackType",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The value of the <code>Feedback-Type</code> field from the feedback report received from the ISP.\n        </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a <code>Complaint</code> event.</p>"
            }
        },
        "com.amazonaws.sesv2#ComplaintFeedbackType": {
            "type": "string"
        },
        "com.amazonaws.sesv2#ComplaintSubType": {
            "type": "string"
        },
        "com.amazonaws.sesv2#ConcurrentModificationException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.sesv2#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The resource is being modified by another operation or thread.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.amazonaws.sesv2#ConfigurationSetName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The name of a configuration set.</p>\n         <p>\n            <i>Configuration sets</i> are groups of rules that you can apply to the\n            emails you send. You apply a configuration set to an email by including a reference to\n            the configuration set in the headers of the email. When you apply a configuration set to\n            an email, all of the rules in that configuration set are applied to the email.</p>"
            }
        },
        "com.amazonaws.sesv2#ConfigurationSetNameList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sesv2#ConfigurationSetName"
            }
        },
        "com.amazonaws.sesv2#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.sesv2#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>If there is already an ongoing account details update under review.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.sesv2#Contact": {
            "type": "structure",
            "members": {
                "EmailAddress": {
                    "target": "com.amazonaws.sesv2#EmailAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The contact's email address.</p>"
                    }
                },
                "TopicPreferences": {
                    "target": "com.amazonaws.sesv2#TopicPreferenceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The contact's preference for being opted-in to or opted-out of a topic.</p>"
                    }
                },
                "TopicDefaultPreferences": {
                    "target": "com.amazonaws.sesv2#TopicPreferenceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The default topic preferences applied to the contact.</p>"
                    }
                },
                "UnsubscribeAll": {
                    "target": "com.amazonaws.sesv2#UnsubscribeAll",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>A boolean value status noting if the contact is unsubscribed from all contact list\n            topics.</p>"
                    }
                },
                "LastUpdatedTimestamp": {
                    "target": "com.amazonaws.sesv2#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>A timestamp noting the last time the contact's information was updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A contact is the end-user who is receiving the email.</p>"
            }
        },
        "com.amazonaws.sesv2#ContactLanguage": {
            "type": "enum",
            "members": {
                "EN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EN"
                    }
                },
                "JA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "JA"
                    }
                }
            }
        },
        "com.amazonaws.sesv2#ContactList": {
            "type": "structure",
            "members": {
                "ContactListName": {
                    "target": "com.amazonaws.sesv2#ContactListName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the contact list.</p>"
                    }
                },
                "LastUpdatedTimestamp": {
                    "target": "com.amazonaws.sesv2#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>A timestamp noting the last time the contact list was updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A list that contains contacts that have subscribed to a particular topic or\n            topics.</p>"
            }
        },
        "com.amazonaws.sesv2#ContactListDestination": {
            "type": "structure",
            "members": {
                "ContactListName": {
                    "target": "com.amazonaws.sesv2#ContactListName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the contact list.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ContactListImportAction": {
                    "target": "com.amazonaws.sesv2#ContactListImportAction",
                    "traits": {
                        "smithy.api#documentation": "<p>>The type of action to perform on the addresses. The following are the possible\n            values:</p>\n         <ul>\n            <li>\n               <p>PUT: add the addresses to the contact list. If the record already exists, it\n                    will override it with the new value.</p>\n            </li>\n            <li>\n               <p>DELETE: remove the addresses from the contact list.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that contains details about the action of a contact list.</p>"
            }
        },
        "com.amazonaws.sesv2#ContactListImportAction": {
            "type": "enum",
            "members": {
                "DELETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE"
                    }
                },
                "PUT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PUT"
                    }
                }
            }
        },
        "com.amazonaws.sesv2#ContactListName": {
            "type": "string"
        },
        "com.amazonaws.sesv2#Content": {
            "type": "structure",
            "members": {
                "Data": {
                    "target": "com.amazonaws.sesv2#MessageData",
                    "traits": {
                        "smithy.api#documentation": "<p>The content of the message itself.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Charset": {
                    "target": "com.amazonaws.sesv2#Charset",
                    "traits": {
                        "smithy.api#documentation": "<p>The character set for the content. Because of the constraints of the SMTP protocol,\n            Amazon SES uses 7-bit ASCII by default. If the text includes characters outside of the ASCII\n            range, you have to specify a character set. For example, you could specify\n                <code>UTF-8</code>, <code>ISO-8859-1</code>, or <code>Shift_JIS</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the content of the email, and optionally a character set\n            specification.</p>"
            }
        },
        "com.amazonaws.sesv2#Counter": {
            "type": "long",
            "traits": {
                "smithy.api#default": 0
            }
        },
        "com.amazonaws.sesv2#CreateConfigurationSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sesv2#CreateConfigurationSetRequest"
            },
            "output": {
                "target": "com.amazonaws.sesv2#CreateConfigurationSetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sesv2#AlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.sesv2#BadRequestException"
                },
                {
                    "target": "com.amazonaws.sesv2#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.sesv2#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.sesv2#NotFoundException"
                },
                {
                    "target": "com.amazonaws.sesv2#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a configuration set. <i>Configuration sets</i> are groups of\n            rules that you can apply to the emails that you send. You apply a configuration set to\n            an email by specifying the name of the configuration set when you call the Amazon SES API v2. When\n            you apply a configuration set to an email, all of the rules in that configuration set\n            are applied to the email. </p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v2/email/configuration-sets",
                    "code": 200
                }
            }
        },
        "com.amazonaws.sesv2#CreateConfigurationSetEventDestination": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sesv2#CreateConfigurationSetEventDestinationRequest"
            },
            "output": {
                "target": "com.amazonaws.sesv2#CreateConfigurationSetEventDestinationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sesv2#AlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.sesv2#BadRequestException"
                },
                {
                    "target": "com.amazonaws.sesv2#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.sesv2#NotFoundException"
                },
                {
                    "target": "com.amazonaws.sesv2#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create an event destination. <i>Events</i> include message sends,\n            deliveries, opens, clicks, bounces, and complaints. <i>Event\n                destinations</i> are places that you can send information about these events\n            to. For example, you can send event data to Amazon EventBridge and associate a rule to send the event\n            to the specified target.</p>\n         <p>A single configuration set can include more than one event destination.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations",
                    "code": 200
                }
            }
        },
        "com.amazonaws.sesv2#CreateConfigurationSetEventDestinationRequest": {
            "type": "structure",
            "members": {
                "ConfigurationSetName": {
                    "target": "com.amazonaws.sesv2#ConfigurationSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration set .</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "EventDestinationName": {
                    "target": "com.amazonaws.sesv2#EventDestinationName",
                    "traits": {
                        "smithy.api#documentation": "<p>A name that identifies the event destination within the configuration set.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventDestination": {
                    "target": "com.amazonaws.sesv2#EventDestinationDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines the event destination.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A request to add an event destination to a configuration set.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sesv2#CreateConfigurationSetEventDestinationResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.sesv2#CreateConfigurationSetRequest": {
            "type": "structure",
            "members": {
                "ConfigurationSetName": {
                    "target": "com.amazonaws.sesv2#ConfigurationSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration set. The name can contain up to 64 alphanumeric\n            characters, including letters, numbers, hyphens (-) and underscores (_) only.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TrackingOptions": {
                    "target": "com.amazonaws.sesv2#TrackingOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines the open and click tracking options for emails that you send\n            using the configuration set.</p>"
                    }
                },
                "DeliveryOptions": {
                    "target": "com.amazonaws.sesv2#DeliveryOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines the dedicated IP pool that is used to send emails that you send\n            using the configuration set.</p>"
                    }
                },
                "ReputationOptions": {
                    "target": "com.amazonaws.sesv2#ReputationOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines whether or not Amazon SES collects reputation metrics for the emails\n            that you send that use the configuration set.</p>"
                    }
                },
                "SendingOptions": {
                    "target": "com.amazonaws.sesv2#SendingOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines whether or not Amazon SES can send email that you send using the\n            configuration set.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.sesv2#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that define the tags (keys and values) to associate with the\n            configuration set.</p>"
                    }
                },
                "SuppressionOptions": {
                    "target": "com.amazonaws.sesv2#SuppressionOptions"
                },
                "VdmOptions": {
                    "target": "com.amazonaws.sesv2#VdmOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines the VDM options for emails that you send using the\n            configuration set.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A request to create a configuration set.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sesv2#CreateConfigurationSetResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.sesv2#CreateContact": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sesv2#CreateContactRequest"
            },
            "output": {
                "target": "com.amazonaws.sesv2#CreateContactResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sesv2#AlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.sesv2#BadRequestException"
                },
                {
                    "target": "com.amazonaws.sesv2#NotFoundException"
                },
                {
                    "target": "com.amazonaws.sesv2#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a contact, which is an end-user who is receiving the email, and adds them to a\n            contact list.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v2/email/contact-lists/{ContactListName}/contacts",
                    "code": 200
                }
            }
        },
        "com.amazonaws.sesv2#CreateContactList": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sesv2#CreateContactListRequest"
            },
            "output": {
                "target": "com.amazonaws.sesv2#CreateContactListResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sesv2#AlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.sesv2#BadRequestException"
                },
                {
                    "target": "com.amazonaws.sesv2#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.sesv2#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a contact list.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v2/email/contact-lists",
                    "code": 200
                }
            }
        },
        "com.amazonaws.sesv2#CreateContactListRequest": {
            "type": "structure",
            "members": {
                "ContactListName": {
                    "target": "com.amazonaws.sesv2#ContactListName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the contact list.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Topics": {
                    "target": "com.amazonaws.sesv2#Topics",
                    "traits": {
                        "smithy.api#documentation": "<p>An interest group, theme, or label within a list. A contact list can have multiple\n            topics.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.sesv2#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of what the contact list is about.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.sesv2#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags associated with a contact list.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sesv2#CreateContactListResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.sesv2#CreateContactRequest": {
            "type": "structure",
            "members": {
                "ContactListName": {
                    "target": "com.amazonaws.sesv2#ContactListName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the contact list to which the contact should be added.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "EmailAddress": {
                    "target": "com.amazonaws.sesv2#EmailAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The contact's email address.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TopicPreferences": {
                    "target": "com.amazonaws.sesv2#TopicPreferenceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The contact's preferences for being opted-in to or opted-out of topics.</p>"
                    }
                },
                "UnsubscribeAll": {
                    "target": "com.amazonaws.sesv2#UnsubscribeAll",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>A boolean value status noting if the contact is unsubscribed from all contact list\n            topics.</p>"
                    }
                },
                "AttributesData": {
                    "target": "com.amazonaws.sesv2#AttributesData",
                    "traits": {
                        "smithy.api#documentation": "<p>The attribute data attached to a contact.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sesv2#CreateContactResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.sesv2#CreateCustomVerificationEmailTemplate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sesv2#CreateCustomVerificationEmailTemplateRequest"
            },
            "output": {
                "target": "com.amazonaws.sesv2#CreateCustomVerificationEmailTemplateResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sesv2#AlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.sesv2#BadRequestException"
                },
                {
                    "target": "com.amazonaws.sesv2#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.sesv2#NotFoundException"
                },
                {
                    "target": "com.amazonaws.sesv2#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new custom verification email template.</p>\n         <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using\n                custom verification email templates</a> in the <i>Amazon SES Developer\n                Guide</i>.</p>\n         <p>You can execute this operation no more than once per second.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v2/email/custom-verification-email-templates",
                    "code": 200
                }
            }
        },
        "com.amazonaws.sesv2#CreateCustomVerificationEmailTemplateRequest": {
            "type": "structure",
            "members": {
                "TemplateName": {
                    "target": "com.amazonaws.sesv2#EmailTemplateName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the custom verification email template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "FromEmailAddress": {
                    "target": "com.amazonaws.sesv2#EmailAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The email address that the custom verification email is sent from.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TemplateSubject": {
                    "target": "com.amazonaws.sesv2#EmailTemplateSubject",
                    "traits": {
                        "smithy.api#documentation": "<p>The subject line of the custom verification email.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TemplateContent": {
                    "target": "com.amazonaws.sesv2#TemplateContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The content of the custom verification email. The total size of the email must be less\n            than 10 MB. The message body may contain HTML, with some limitations. For more\n            information, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom-faq\">Custom verification email frequently asked questions</a> in the <i>Amazon SES\n                Developer Guide</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SuccessRedirectionURL": {
                    "target": "com.amazonaws.sesv2#SuccessRedirectionURL",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL that the recipient of the verification email is sent to if his or her address\n            is successfully verified.</p>",
                        "smithy.api#required": {}
                    }
                },
                "FailureRedirectionURL": {
                    "target": "com.amazonaws.sesv2#FailureRedirectionURL",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL that the recipient of the verification email is sent to if his or her address\n            is not successfully verified.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents a request to create a custom verification email template.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sesv2#CreateCustomVerificationEmailTemplateResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>If the action is successful, the service sends back an HTTP 200 response with an empty\n            HTTP body.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.sesv2#CreateDedicatedIpPool": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sesv2#CreateDedicatedIpPoolRequest"
            },
            "output": {
                "target": "com.amazonaws.sesv2#CreateDedicatedIpPoolResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sesv2#AlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.sesv2#BadRequestException"
                },
                {
                    "target": "com.amazonaws.sesv2#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.sesv2#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.sesv2#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a new pool of dedicated IP addresses. A pool can include one or more dedicated\n            IP addresses that are associated with your Amazon Web Services account. You can associate a pool with\n            a configuration set. When you send an email that uses that configuration set, the\n            message is sent from one of the addresses in the associated pool.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v2/email/dedicated-ip-pools",
                    "code": 200
                }
            }
        },
        "com.amazonaws.sesv2#CreateDedicatedIpPoolRequest": {
            "type": "structure",
            "members": {
                "PoolName": {
                    "target": "com.amazonaws.sesv2#PoolName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the dedicated IP pool.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.sesv2#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines the tags (keys and values) that you want to associate with the\n            pool.</p>"
                    }
                },
                "ScalingMode": {
                    "target": "com.amazonaws.sesv2#ScalingMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of scaling mode.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A request to create a new dedicated IP pool.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sesv2#CreateDedicatedIpPoolResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.sesv2#CreateDeliverabilityTestReport": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sesv2#CreateDeliverabilityTestReportRequest"
            },
            "output": {
                "target": "com.amazonaws.sesv2#CreateDeliverabilityTestReportResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sesv2#AccountSuspendedException"
                },
                {
                    "target": "com.amazonaws.sesv2#BadRequestException"
                },
                {
                    "target": "com.amazonaws.sesv2#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.sesv2#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.sesv2#MailFromDomainNotVerifiedException"
                },
                {
                    "target": "com.amazonaws.sesv2#MessageRejected"
                },
                {
                    "target": "com.amazonaws.sesv2#NotFoundException"
                },
                {
                    "target": "com.amazonaws.sesv2#SendingPausedException"
                },
                {
                    "target": "com.amazonaws.sesv2#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a new predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will be handled\n            by various email providers around the world. When you perform a predictive inbox placement test, you provide a\n            sample message that contains the content that you plan to send to your customers. Amazon SES\n            then sends that message to special email addresses spread across several major email\n            providers. After about 24 hours, the test is complete, and you can use the\n                <code>GetDeliverabilityTestReport</code> operation to view the results of the\n            test.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v2/email/deliverability-dashboard/test",
                    "code": 200
                }
            }
        },
        "com.amazonaws.sesv2#CreateDeliverabilityTestReportRequest": {
            "type": "structure",
            "members": {
                "ReportName": {
                    "target": "com.amazonaws.sesv2#ReportName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name that helps you to identify the predictive inbox placement test when you retrieve the\n            results.</p>"
                    }
                },
                "FromEmailAddress": {
                    "target": "com.amazonaws.sesv2#EmailAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The email address that the predictive inbox placement test email was sent from.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Content": {
                    "target": "com.amazonaws.sesv2#EmailContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTML body of the message that you sent when you performed the predictive inbox placement test.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.sesv2#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that define the tags (keys and values) that you want to associate\n            with the predictive inbox placement test.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A request to perform a predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will\n            be handled by various email providers around the world. When you perform a predictive inbox placement test, you\n            provide a sample message that contains the content that you plan to send to your\n            customers. We send that message to special email addresses spread across several major\n            email providers around the world. The test takes about 24 hours to complete. When the\n            test is complete, you can use the <code>GetDeliverabilityTestReport</code> operation to\n            view the results of the test.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sesv2#CreateDeliverabilityTestReportResponse": {
            "type": "structure",
            "members": {
                "ReportId": {
                    "target": "com.amazonaws.sesv2#ReportId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique string that identifies the predictive inbox placement test.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DeliverabilityTestStatus": {
                    "target": "com.amazonaws.sesv2#DeliverabilityTestStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the predictive inbox placement test. If the status is <code>IN_PROGRESS</code>, then the predictive inbox placement test\n            is currently running. Predictive inbox placement tests are usually complete within 24 hours of creating the\n            test. If the status is <code>COMPLETE</code>, then the test is finished, and you can use\n            the <code>GetDeliverabilityTestReport</code> to view the results of the test.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the predictive inbox placement test that you created.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.sesv2#CreateEmailIdentity": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sesv2#CreateEmailIdentityRequest"
            },
            "output": {
                "target": "com.amazonaws.sesv2#CreateEmailIdentityResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sesv2#AlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.sesv2#BadRequestException"
                },
                {
                    "target": "com.amazonaws.sesv2#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.sesv2#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.sesv2#NotFoundException"
                },
                {
                    "target": "com.amazonaws.sesv2#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Starts the process of verifying an email identity. An <i>identity</i> is\n            an email address or domain that you use when you send email. Before you can use an\n            identity to send email, you first have to verify it. By verifying an identity, you\n            demonstrate that you're the owner of the identity, and that you've given Amazon SES API v2\n            permission to send email from the identity.</p>\n         <p>When you verify an email address, Amazon SES sends an email to the address. Your email\n            address is verified as soon as you follow the link in the verification email.\n            \n        </p>\n         <p>When you verify a domain without specifying the <code>DkimSigningAttributes</code>\n            object, this operation provides a set of DKIM tokens. You can convert these tokens into\n            CNAME records, which you then add to the DNS configuration for your domain. Your domain\n            is verified when Amazon SES detects these records in the DNS configuration for your domain.\n            This verification method is known as <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim.html\">Easy DKIM</a>.</p>\n         <p>Alternatively, you can perform the verification process by providing your own\n            public-private key pair. This verification method is known as Bring Your Own DKIM\n            (BYODKIM). To use BYODKIM, your call to the <code>CreateEmailIdentity</code> operation\n            has to include the <code>DkimSigningAttributes</code> object. When you specify this\n            object, you provide a selector (a component of the DNS record name that identifies the\n            public key to use for DKIM authentication) and a private key.</p>\n         <p>When you verify a domain, this operation provides a set of DKIM tokens, which you can\n            convert into CNAME tokens. You add these CNAME tokens to the DNS configuration for your\n            domain. Your domain is verified when Amazon SES detects these records in the DNS\n            configuration for your domain. For some DNS providers, it can take 72 hours or more to\n            complete the domain verification process.</p>\n         <p>Additionally, you can associate an existing configuration set with the email identity that you're verifying.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v2/email/identities",
[...]
