##This is a template generating property bag for from Shape's contextParam for CRT Endpoint Rules engine in Request's header
#if($operation.request.shape.hasContextParam() || $operation.staticContextParams)
    /**
     * Helper function to collect parameters (configurable and static hardcoded) required for endpoint computation.
     */
    ${exportMacro} EndpointParameters GetEndpointContextParams() const override;
#end
#if($operation.operationContextParamsCode.isPresent())
    ${exportMacro} Aws::Vector<Aws::String> parsedJmesPathExpression(){       
#set($indentationPrefix = "        ")
${indentationPrefix}Aws::Vector<Aws::String> result;
#foreach($item in ${operation.operationContextParamsCode.get()})
$indentationPrefix${item}
#end
${indentationPrefix}return result;
    }
#end